<div class="export">
    <div class="row">
        <div class="col-lg-3">
            <span class="tag tag-primary" ng-show="results.length"><span ng-bind="Statistics.NumComponents | number"></span> <span translate>Hits</span></span>
            <span class="tag" ng-show="results.length"><span ng-bind="Statistics.TotalNumComponents | number"></span> <span translate>Components</span></span>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">Search Components</h2>
        </div>
        <div class="col-lg-3">
            <span class="dropdown pull-right" ng-show="results.length">
                <a class="dropdown-toggle btn btn-primary"><i class="fa fa-cloud-download"></i> <span translate>Export</span></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="{{getUrl('json')}}" download="comparison-components.json" target="_blank" translate>JSON</a></li>
                    <li><a ng-href="{{getUrl('xml')}}" download="comparison-components.xml" target="_blank" translate>XML</a></li>
                    <li><a ng-href="{{getUrl('csv')}}" download="comparison-components.csv" target="_blank" translate>CSV</a></li>
                    <li><a ng-href="{{getUrl('excel')}}" download="comparison-components.csv" target="_blank" translate>Excel</a></li>
                </ul>
            </span>
        </div>
    </div>
</div>
<form class="form-horizontal" id="comparison-components-searchbar" ng-submit="submit()">
    <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-4 control-label" translate>Find components by</label>
        <div class="col-lg-6 col-md-9 col-sm-8">
            <label class="radio" ng-click="selectType()">
                <input type="radio" id="searchType" ng-model="searchType" value="disclosure">
                <span translate>Disclosure</span>
                <a href="/disclosures"><i class="fa fa-question"></i></a>
            </label>
            <label class="radio" ng-click="selectType()">
                <input type="radio" id="searchType" ng-model="searchType" value="reportElement">
                <span translate>Name of a contained report element</span>
            </label>
            <label class="radio" ng-click="selectType()">
                <input type="radio" id="searchType" ng-model="searchType" value="label">
                <span translate>Text contained in network titles</span>
            </label>
        </div>
    </div>
    <div class="form-group" ng-show="searchType==='disclosure'">
        <label class="col-lg-3 col-md-3 col-sm-4 control-label" translate>Disclosure</label>
        <div class="col-lg-6 col-md-9 col-sm-8">
            <input type="text" class="form-control" ng-model="searchDisclosure"
              typeahead="key.name for key in disclosureNames | filter:$viewValue | limitTo: 10" typeahead-template-url='typeaheaddisclosures.html'
               typeahead-on-select="selectDisclosure($item)">
            <script type="text/ng-template" id="typeaheaddisclosures.html">
                <a tabindex="-1" class="multicol">
                   <div ng-bind-html='match.model.label | typeaheadHighlight:query'></div>
                   <small ng-bind-html='"TOPIC: " + match.model.topic | typeaheadHighlight:query'></small><br>
                   <small ng-bind-html='"Name: " + match.model.name | typeaheadHighlight:query'></small>
                </a>
            </script>
        </div>
    </div>
    <div class="form-group" ng-show="searchType==='reportElement'">
        <label class="col-lg-3 col-md-3 col-sm-4 control-label" translate>Report element name</label>
        <div class="col-lg-6 col-md-9 col-sm-8">
            <input type="text" class="form-control" ng-model="searchReportElement"
              typeahead="key for key in reportElementNames | filter:$viewValue | limitTo: 15"
               typeahead-on-select="selectReportElement($item)">
        </div>
    </div>
    <div class="form-group" ng-show="searchType==='label'">
        <label class="col-lg-3 col-md-3 col-sm-4 control-label" translate>Network title</label>
        <div class="col-lg-6 col-md-9 col-sm-8">
          <input type="text" class="form-control" ng-model="searchLabel">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4">
            <button class="btn btn-primary" type="submit" translate>GO</button>
        </div>
    </div>
</form>

<div ng-show="results.length">
    <p>
        <input type="text" class="form-control" ng-model="search" placeholder="Search components...">
    </p>
    <div class="table-responsive">
        <table class="table table-condensed table-justcolumns small">
            <thead>
                <th>#</th>
                <th translate>Entity</th>
                <th translate>Accession Number</th>
                <th translate>Form Type</th>
                <th translate>Fiscal Period / Year</th>
                <th translate>Network Label / Name</th>
                <th translate>Category</th>
                <th translate>Table</th>
                <th translate>Disclosure Name</th>
                <th translate>Go to</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in results | filter : search">
                    <td>{{$index + 1}}</td>
                    <td>{{item.CIK}}<br/><small>({{item.EntityRegistrantName}})</small></td>
                    <td>{{item.AccessionNumber}}</td>
                    <td>{{item.FormType}}</td>
                    <td>{{item.FiscalPeriod}} / {{item.FiscalYear}}</td>
                    <td>{{item.NetworkLabel}}<br/><small><span title="{{item.NetworkIdentifier}}">{{trimNetworkURL(item.NetworkIdentifier)}}</span></small></td>
                    <td>{{item.Category}}</td>
                    <td><span title="{{item.Table}}">{{trimTableURL(item.Table)}}</span></td>
                    <td>{{item.Disclosure}}</td>
                    <td class="text-center">
                        <span class="dropdown">
                            <a class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
                            <ul class="dropdown-menu text-left pull-right">
                                <li><a href="/component/{{item.AccessionNumber}}/{{item.NetworkIdentifier}}" translate>Component Details</a></li>
                                <li><a href="/facttable/{{item.AccessionNumber}}/{{item.NetworkIdentifier}}" translate>Fact Table</a></li>
                                <li><a href="/modelstructure/{{item.AccessionNumber}}/{{item.NetworkIdentifier}}" translate>Model Structure</a></li>
                                <li><a href="/spreadsheet/{{item.AccessionNumber}}/{{item.NetworkIdentifier}}" translate>Spreadsheet</a></li>
                                <li><a class="disabled" translate>SEC Preview</a></li>
                            </ul>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-info" ng-show="errornoresults">
    <h4 translate>No results found.</h4>
    <span translate>Here are some working examples: <a href="/comparison/components?tag=DOW30&fiscalYear=2013&fiscalPeriod=FY&disclosure=BalanceSheet">Balance Sheets for DOW30 in 2013</a> or <a href="/comparison/components?cik=0000104169&cik=0000021344&fiscalYear=2012&fiscalPeriod=FY&fiscalPeriod=Q3&fiscalPeriod=Q2&fiscalPeriod=Q1&reportElement=us-gaap:Assets">Components containing us-gaap:Assets of Coca Cola and Walmart throughout 2012</a></span>
</div>
