<div class="export">
    <div class="row">
        <div class="col-lg-3">
            <span class="tag tag-primary" ng-show="results.length"><span ng-bind="Statistics.NumConcepts | number"></span> <span translate>Hits</span></span>
            <span class="tag" ng-show="results.length"><span ng-bind="Statistics.TotalNumConcepts | number"></span> <span translate>Concepts</span></span>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center" translate>Search Report Elements</h2>
        </div>
        <div class="col-lg-3">
            <span class="dropdown pull-right" ng-show="results.length">
                <a class="dropdown-toggle btn btn-primary"><i class="fa fa-cloud-download"></i> <span translate>Export</span></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="{{getUrl('json')}}" download="comparison-reportElems.json" target="_blank" translate>JSON</a></li>
                    <li><a ng-href="{{getUrl('xml')}}" download="comparison-reportElems.xml" target="_blank" translate>XML</a></li>
                    <li><a ng-href="{{getUrl('csv')}}" download="comparison-reportElems.csv" target="_blank" translate>CSV</a></li>
                    <li><a ng-href="{{getUrl('excel')}}" download="comparison-reportElems.csv" target="_blank" translate>Excel</a></li>
                </ul>
            </span>
        </div>
    </div>
</div>
<form class="form-horizontal" id="comparison-reportElements-searchbar" ng-submit="submit()">
    <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-4 control-label" translate>Find report elements by</label>
        <div class="col-lg-6 col-md-9 col-sm-8">
            <label class="radio" ng-click="selectType()">
                <input type="radio" id="searchType" ng-model="searchType" value="name">
                <span translate>Name of the report element</span>
            </label>
            <label class="radio" ng-click="selectType()">
                <input type="radio" id="searchType" ng-model="searchType" value="label">
                <span translate>Text contained in label of the report element</span>
            </label>
        </div>
    </div>
    <div class="form-group" ng-show="searchType==='name'">
        <label class="col-lg-3 col-md-3 col-sm-4 control-label" translate>Name</label>
        <div class="col-lg-6 col-md-9 col-sm-8">
            <input type="text" class="form-control" ng-model="searchName"
              typeahead="key for key in reportElementNames | filter:$viewValue | limitTo: 15"
               typeahead-on-select="selectName($item)">
        </div>
    </div>
    <div class="form-group" ng-show="searchType==='label'">
        <label class="col-lg-3 col-md-3 col-sm-4 control-label" translate>Label</label>
        <div class="col-lg-6 col-md-9 col-sm-8">
          <input type="text" class="form-control" ng-model="searchLabel">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4">
            <button class="btn btn-primary" type="submit" translate>GO</button>
        </div>
    </div>
</form>
<div ng-show="results.length">
    <p>
        <input type="text" class="form-control" ng-model="search" placeholder="Search report elements...">
    </p>
    <div class="table-responsive">
        <table class="table table-condensed table-justcolumns small">
            <thead>
                <th>#</th>
                <th translate>Name / Label</th>
                <th translate>Entity</th>
                <th translate>Fiscal Period / Year</th>
                <th translate>Component Label / Name</th>
                <th translate>Nillable</th>
                <th translate>Abstract</th>
                <th translate>Period Type</th>
                <th translate>Balance</th>
                <th translate>Substitution Group</th>
                <th translate>Data Type</th>
                <th translate>Base Type</th>
                <th translate>Closest Schema Builtin Type</th>
                <th translate>Text Block</th>
                <th translate>Accession Number</th>
                <th translate>Go to</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in results | filter : search">
                    <td>{{$index + 1}}</td>
                    <td>{{item.Name}}<br/>{{item.Label}}</td>
                    <td>{{item.CIK}}<br/><small>({{item.EntityRegistrantName}})</small></td>
                    <td>{{item.FiscalPeriod}} / {{item.FiscalYear}}</td>
                    <td>{{item.ComponentLabel}}<br/><small><span title="{{item.ComponentRole}}">{{trimNetworkURL(item.ComponentRole)}}</span></small></td>
                    <td>{{item.IsNillable}}</td>
                    <td>{{item.IsAbstract}}</td>
                    <td>{{item.PeriodType}}</td>
                    <td>{{item.Balance}}</td>
                    <td>{{item.SubstitutionGroup}}</td>
                    <td>{{item.DataType}}</td>
                    <td>{{item.BaseType}}</td>
                    <td>{{item.ClosestSchemaBuiltinType}}</td>
                    <td>{{item.IsTextBlock}}</td>
                    <td><a href="/filing/{{item.AccessionNumber}}">{{item.AccessionNumber}}</a></td>
                    <td class="text-center">
                        <span class="dropdown">
                            <a class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
                            <ul class="dropdown-menu text-left pull-right">
                              <li><a href="/filing/{{item.AccessionNumber}}" translate>Filing Details</a></li>
                              <li><a href="/component/{{item.AccessionNumber}}/{{item.ComponentRole}}" translate>Component Details</a></li>
                              <li><a href="/facttable/{{item.AccessionNumber}}/{{item.ComponentRole}}" translate>Fact Table</a></li>
                              <li><a href="/modelstructure/{{item.AccessionNumber}}/{{item.ComponentRole}}" translate>Model Structure</a></li>
                            </ul>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-info" ng-show="errornoresults">
    <h4 translate>No results found</h4>
    <span translate>Here are some working examples: <a href="/comparison/reportElements?tag=DOW30&fiscalYear=2013&fiscalPeriod=FY&label=Assets">Assets for DOW30 in 2013</a> or <a href="/comparison/reportElements?cik=0000104169&cik=0000021344&fiscalYear=2012&fiscalPeriod=FY&fiscalPeriod=Q3&fiscalPeriod=Q2&fiscalPeriod=Q1&name=us-gaap:Assets">Report Element us-gaap:Assets of Coca Cola and Walmart throughout 2012</a></span>
</div>
