#comparison-filter {
    .alert {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        .close {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}