#home {
    font-size: @font-size-large;
    
    .jumbotron {
        height: 566px;
        background-image: url(/images/bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    
        h1 {
            color: white;
            font-size: 46px;
            font-weight: 100;
            margin-top: 100px;
        }

        p {
            color: white;
        }
    }
    
    h2 {
        font-weight: 300;
    }
    
    section.row {
        margin-top: 3em;
        border-top: 1px solid @clouds;
        padding-top: 3em;
        
        .pictogram {
            margin-top: 22px;
            height: 200px;
            width: auto;
        }
    }
}