@import "bootstrap.less";
@import "fonts.less";
@import "ng-progress-lite.less";
@import "home.less";

a {
    cursor: pointer;
}

.ng-view {
    margin-top: @navbar-height;
}

.menu-btn {
    margin-top: 6px;
    margin-left: 15px;
}

.topbar .btn-group {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: @clouds;
}

footer {
    background-color: @clouds;
    z-index: 100;
    position: relative;
}