@import "bootstrap.less";
@import "fonts.less";
@import "ng-progress-lite.less";
@import "auth.less";
@import "home.less";
@import "entity.less";
@import "filings.less";
@import "information.less";

.breadcrumb {
    border-bottom: 1px solid @clouds;
}

a {
    cursor: pointer;
}

.ng-view {
    margin-top: @navbar-height;
}

.user {    
    margin-top: 6px;
}

.menu-btn {
    margin-top: 6px;
    margin-left: 15px;
}

.topbar .btn-group {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: @clouds;
}

footer {
    background-color: @clouds;
    z-index: 100;
    position: relative;
}

.std-container {
    margin-left: 15px;
    margin-right: 15px;
}

.col-left {
    padding: 15px;
    padding-left: 30px;
}

.col-right {
    border-left: 1px solid @clouds;
    padding-right: 30px;
}

//Selector
ul.selector {
    padding: 3px 0px; 
    margin: 0; 
    list-style: none;
    border: 1px solid @clouds;
    background: white;
    border-radius: 3px;
    .box-sizing(border-box);
    overflow-x: hidden;
    
    li {
        display: block;
        cursor: pointer;
        padding: 1px 5px; 
        
        &.selected {
            background: @brand-primary;
            color: white;
        }
        
        &.disabled {
            color: @silver;
            
            &:after {
                float: right;
                font-size: smaller;
                padding: 1px;
                content : "N/A";
            }
        }
    }
}

//Olark
#habla_sizebutton_a:hover { background-color: lighten(@brand-primary, 15%) !important; }
#habla_panel_div { background-color: transparent !important; }
#habla_panel_div #habla_topbar_div { background-color: @brand-primary !important; }
#habla_panel_div #habla_expanded_div { background-color: white !important; }