@import "bootstrap.less";
@import "fonts.less";
@import "ng-progress-lite.less";
@import "auth.less";
@import "home.less";
@import "entity.less";
@import "filings.less";

.breadcrumb {
    border-bottom: 1px solid @clouds;
}

a {
    cursor: pointer;
}

.ng-view {
    margin-top: @navbar-height;
}

.user {    
    margin-top: 6px;
}

.menu-btn {
    margin-top: 6px;
    margin-left: 15px;
}

.topbar .btn-group {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: @clouds;
}

footer {
    background-color: @clouds;
    z-index: 100;
    position: relative;
}

.std-container {
    margin-left: 15px;
    margin-right: 15px;
}

.col-left {
    padding: 15px;
}

.col-right {
    border-left: 1px solid @clouds;
}