html, body { 
	height: 100%;
}

a {
    cursor: pointer;
}

.table-responsive {
	border: 0px;
}

.table {
	margin: 0px;
}

.popover {
	max-width: 650px;
}

.popover .popover-content {
	width: 100%;
	word-wrap: break-word;
}

.modal-body {
	overflow: auto;
	max-height: 500px;
}

.scrolling {
    overflow-x: auto; 
    width: 100%;
}

.nowrap { 
	white-space: nowrap;
}

.wrap {
	word-wrap: break-word;
}

a.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
  cursor: default !important;
}

#spinner { 
	color: whitesmoke;
	position: absolute;
	top: 20px;
	left: 190px;
    font-size: 2em;
}

@media (min-width: 768px) {
    #spinner { 
        font-size: 3em;
	    top: 17px;
	    left: 270px;
    }
}

.highlight1 {
	color: #2DE46D;
}

.highlight2 {
	color: #FFFFFF;
}

.highlight3 {
	color: #64B783;
}

a.highlight1,
a.highlight1:hover,
a.highlight1:visited,
a.highlight1:active {
	text-decoration: none;
	color: #2DE46D;
}

a.highlight2,
a.highlight2:hover,
a.highlight2:visited,
a.highlight2:active {
	text-decoration: none;
	color: #FFFFFF;
}

a.highlight3,
a.highlight3:hover,
a.highlight3:visited,
a.highlight3:active {
	text-decoration: none;
	color: #64B783;
}

.btn-green{
	color: #ffffff; 
	background: #64B783;
	border-color: #60b380;
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
	color: #ffffff; 
	outline: none;
}

.logo {
	background: url('../images/analytics.svg') no-repeat center center;
	display: inline-block; 
    width: 66px; 
    height: 42px; 
    margin: 5px 5px 0px 0px;
}

.logo-grayscale {
	background: url('../images/analytics-grayscale.svg') no-repeat center center;
	display: inline-block; 
	width: 66px; 
	height: 42px; 
	margin: 10px;
}

ul.poweredby {
	list-style: none;
	padding-left: 0px;
}

ul.poweredby li {
	display: inline-block;
	vertical-align: middle;
    font-size: 0.8em;
}

.validation-error { 
	color: #cc0000;
	font-size: 0.85em;
	padding: 3px;
}

.header {
	background-color: #242b32;
	position: relative;
    min-height: 80px;
}

.header .navbar {
	margin-bottom: 0px;
	font-size: 1.3em;
}

.header .navbar-toggle {
    margin: 15px 5px;
}

.header a#logo,
.header a#logo:hover {
	display: inline-block;
    float: left;
	text-decoration: none;
	margin-top: 15px;
    margin-left: 5px;
}

.header a#logo i {
	float: left;
}

.header a#logo h3 {
	display: inline-block;
    letter-spacing: 2px;
	margin: 0px;
}

.header a#logo small {
	display: inline-block;
	font-size: 0.64em;
	color: #93989C;
	white-space: nowrap;
    line-height: 1.3;
    margin-top: -2px;
}

.header a#logo sup {
	font-size: 1.3em;
    margin-top: 15px;
    color: #078bed;
}

.header button {
	float: right;
	color: #FFFFFF;
}

.header	.nav a {
	color: #FFFFFF;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}

@media (min-width: 1024px) {
    .header	.nav a {
        padding: 5px 15px;
    }
}

.header .navbar .nav {
	margin: 0px;
}

.header .navbar .nav > div.ontop {
	color: #999999;
}

.header .navbar .nav > div.ontop a {
    padding: 5px 15px;
}

@media (min-width: 768px) {
	.header .navbar .nav {
		text-align: right;
	}

	.header .navbar .nav > div {
		display: inline;
		text-align: left;
	}
	
	.header .navbar .nav > div.ontop {
		font-size: 0.8em;
		padding: 0px;
		margin-right: 10px;
		line-height: 40px;
		vertical-align: middle;
	}

	.header .navbar .nav > div.ontop a {
        padding: 2px 10px;
		margin-top: -5px;
        line-height: 1.5em;
	}

	.header .navbar .nav > div.ontop:after {
		content: '\A'; 
		white-space: pre;
	}
}

.header .nav a:hover,
.header .nav a:focus {
	color: #2DE46D;
	background-color: transparent;
	outline: none;
}

.header .nav .active {
	color: #2DE46D;
	background-color: transparent;
}

.header .nav .sub-nav {
	list-style: none;
}

.header .nav .sub-nav li{
	display: inline-block;
	width: 45%;
}

.header .nav .sub-nav a,
.header .nav .sub-nav a:hover,
.header .nav .sub-nav a:active,
.header .nav .sub-nav a:visited {
	display: block;
	text-decoration: none;
	padding: 5px;
	font-size: 0.8em;
	white-space: nowrap;
}

@media (min-width: 768px) {
	.header .nav .sub-nav{
		position:absolute;
		background: #242b32;
		z-index: 200;
		padding-left: 10px;
		padding:8px 20px;
		border-top:0;
		border-radius:0 0 0 6px;
		-moz-border-radius:0 0 0 6px;
		-webkit-border-radius:0 0 0 6px;
		width: 300px;
		right: -1px;
	}

	.header .nav .sub-nav li{
		margin-right: 27px;
		width: 100px;
	}
}

.topbar{
	border-bottom: 1px solid #4ba16b;
	background: #64B783;
	padding: 3px 0px;
	box-shadow: 0 1px 2px rgba(84, 171, 117, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(84, 171, 117, 0.4);
	-webkit-box-shadow: 0 1px 2px rgba(84, 171, 117, 0.4);
}

.topbar .btn-group {
	margin: 5px 0px;
}

.topbar .btn-group .btn {
	background: #488f63;
    color: #ffffff;
    cursor: pointer;
	line-height: 1.8em;
    padding: 3px 2px;
    max-width: 91px;
    overflow: hidden;
}

.topbar .btn-group .btn:hover {
	background: #4B9667;
}

.topbar .btn-group .btn.active {
	background: #2d2f32;
}

.topbar .btn-group .icn {
	display: inline-block;
	vertical-align: middle;
}

@media (min-width: 600px) {
	.topbar .btn-group .btn {
		font-size: 1.1em;
        padding: 5px;
        max-width: none;
	}

	.topbar .btn-group .icn {
		height: 16px;
		width: 16px;
		margin: 0px 2px;
	}
}

@media (min-width: 768px) {
	.topbar .btn-group .btn {
		font-size: 1.25em;
		padding: 5px 10px;
	}

	.topbar .btn-group .icn {
		margin: 0px 5px;
	}
}

.icn-filings { 
	background: url('../images/icn_filings.png') no-repeat center center;
}

.icn-analytics { 
	background: url('../images/icn_analytics.png') no-repeat center center;
}

.icn-dashboard { 
	background: url('../images/icn_dashboard.png') no-repeat center center;
}

.icn-search { 
	background: url('../images/icn_search.png') no-repeat center center;
}

.bread-crumb {
    color: gainsboro;
    line-height: 1.4;
    padding-left: 10px;
    background: #FFFFFF;
    vertical-align: middle;
	box-shadow: 0px 3px 2px rgba(117, 121, 117, 0.4);
	-moz-box-shadow: 0px 3px 2px rgba(117, 121, 117, 0.4);
	-webkit-box-shadow: 0px 3px 2px rgba(117, 121, 117, 0.4);
}

.bread-crumb .sep {
    opacity: 0.5 !important;
    padding: 0px;
    display: inline-block;
    width: 10px;
    height: 24px;
    vertical-align: middle;
    background: url('../images/breadcrumb-sep.png') no-repeat center center;
}

.bread-crumb .dropdown:hover {
    background: url('../images/breadcrumb-menu.png') no-repeat right center;
 }

.bread-crumb .dropdown {
    vertical-align: middle;
    padding-right: 10px;
    background: #ffffff;
}

.bread-crumb .dropdown .dropdown-toggle {
    color: #444444;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
}

.bread-crumb .dropdown.active .dropdown-toggle {
    color: black;
}

.dropdown-menu .multicol {
    display: block;
    padding: 5px 15px;
}

.dropdown-menu .multicol small {
    opacity: 0.5;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
.dropdown-submenu > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.cols { 
	overflow: hidden;
	min-height: 560px;
}

.col-left {
	box-shadow: 0px 3px 2px rgba(117, 121, 117, 0.4);
	-moz-box-shadow: 0px 3px 2px rgba(117, 121, 117, 0.4);
	-webkit-box-shadow: 0px 3px 2px rgba(117, 121, 117, 0.4);
	padding: 10px;
	background: #FFFFFF;
	vertical-align: top;
	color: #595757;
}

.col-left h4 {
	color: #595757;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.col-left {
		box-shadow: 3px 0px 2px rgba(117, 121, 117, 0.4);
		-moz-box-shadow: 3px 0px 2px rgba(117, 121, 117, 0.4);
		-webkit-box-shadow: 3px 0px 2px rgba(117, 121, 117, 0.4);
		padding-bottom: 9999px;
		margin-bottom: -9999px;
	}
}

.col-right {
	vertical-align: top;
}

pre {
	border: 0;
	background: transparent;
}

pre .string {
	color: indianred;
}

pre .number {
	color: orchid;
}

pre .key {
	color: green;
}

pre .null {
	color: blue;
}

pre .boolean {
	color: blue;
}

.v-center-area { 
	display: block;
    position: relative;
    min-height: 220px;
	background: #242b32;
}

.v-center-area:after { 
	padding-top: 39%;
    display: block;
    content: '';
}

.v-center-block {
	position: absolute;
	top: 50%;
	margin-top: -150px;
	width: 100%;
    z-index: 200;
}

.v-center-content {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
    z-index: 100;
}

.loader {
    background-color: #000000;
	color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    z-index: 300;
}

.loader i {
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	position: absolute;
}

@media (min-width: 480px) {
	.v-center-block {
		margin-top: -125px;
	}
}

@media (min-width: 768px) {
	.v-center-block {
		margin-top: -150px;
	}
}

.magnified {
	font-size: 120%;
	line-height: 1.2;
}

.spaced {
	padding: 20px 0px;
}

@media (min-width: 768px) {
	.magnified {
		font-size: 150%;
		line-height: 1.5;
	}
}

ul.normal {
	list-style: none;
	padding: 0px;
}

ul.menu { 
	list-style: none;
	padding-left: 0px;
}

ul.menu li {
	padding: 0px 10px 8px 15px;
}

ul.menu a.active {
	color: #656565;
	font-weight: bold;
}

.white {
  background: #ffffff;
}

.white-box {
	background: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	padding: 10px 20px;
	margin-bottom: 15px;
}

.white-box-header {
	padding: 10px 20px;
	border-bottom: 1px solid gainsboro;
	border-radius: 3px 3px 0px 0px;
	margin: -10px -20px 10px -20px;
}

.white-box-footer {
	padding: 10px;
	border-top: 1px solid gainsboro;
	background: none repeat scroll 0% 0% rgb(250, 251, 251);
	border-radius: 0px 0px 3px 3px;
	margin: 10px -20px -10px -20px;
}

@media (min-width: 768px) {
	.white-box {
		padding: 15px 25px;
		margin-bottom: 25px;
	}
	.white-box-header {
	    padding: 15px 25px;
		margin: -15px -25px 10px -25px;
	}
	.white-box-footer {
		margin: 10px -25px -15px -25px;
	}
}

dl.chart-tip dt {
  display: block;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid gainsboro;
}

dl.chart-tip dd {
  display: block;
  padding: 10px 15px 0 15px;
  white-space: nowrap;
}

ul.selector { 
	padding: 3px 0px;
	margin: 0px;
	list-style: none;
	border: 1px solid #d0d3d6;
    background: #fafbfb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkir-border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow-x: hidden;
}

ul.selector li {
	display: block;
	cursor: pointer;
	padding: 1px 5px;
}

ul.selector li.selected { 
	background: #64b783;
    color: #ffffff;
}

ul.selector li.disabled {
	color: #d0d3d6;
}

ul.selector li.disabled:after
{
	float: right;
	font-size: smaller;
	padding: 1px;
	content : "N/A";
} 

.content {
	width: 100%;
	background: #f2f2f2;
	overflow: hidden;
	min-height: 620px;
}

.fade-container { 
	position: relative;
}

.fade-content{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #e7ebee;
    opacity:0.6;
    filter: alpha(opacity=60);
    z-index: 100;
}

.fade-panel-entities {
    position: absolute;
	top: 162px;
	width: 320px;
	padding: 20px;
	font-size: 20px;
    left: 20%;
    text-align: center;
    z-index: 101;
    background: #64b783;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.fade-panel-entities .arrow{
    position: absolute;
    background: url('../images/arrow_left.png') no-repeat 0 0;
	background-size: 46px 42px;
    top: -30px;
    left: -45px;
    width: 44px;
    height: 42px;
}

@media (min-width: 768px) {
	.fade-panel-entities {
		top: 162px;
		width: 500px;
		padding: 30px;
		font-size: 30px;
	}

	.fade-panel-entities .arrow {
		background-size: 87px 84px;
		top: -60px;
		left: -89px;
		width: 87px;
		height: 84px;
	}
}

.fade-panel-dashboard {
    position: absolute;
	top: 112px;
	width: 320px;
	padding: 20px;
	font-size: 20px;
    left: 20%;
    text-align: center;
    z-index: 101;
    background: #64b783;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.fade-panel-dashboard .arrow{
    position: absolute;
    background: url('../images/arrow_left.png') no-repeat 0 0;
	background-size: 46px 42px;
    top: -30px;
    left: -45px;
    width: 44px;
    height: 42px;
}

@media (min-width: 768px) {
	.fade-panel-dashboard {
		top: 142px;
		width: 500px;
		padding: 30px;
		font-size: 30px;
	}

	.fade-panel-dashboard .arrow {
		background-size: 87px 84px;
		top: -60px;
		left: -89px;
		width: 87px;
		height: 84px;
	}
}

.fade-control { 
	position: relative;
    z-index: 101;
    border-color: #64b783;
    box-shadow: 0 0 6px rgba(100,183,131,0.38);
    -moz-box-shadow: 0 0 6px rgba(100,183,131,0.38);
    -webkit-box-shadow: 0 0 6px rgba(100,183,131,0.38);
}

.footer {
	background-color: #242b32;
	padding: 10px 0px;
	color: #FFFFFF;
}

.footer .navbar {
	margin-bottom: 0px;
	font-size: 1.3em;
}

.footer a#logo,
.footer a#logo:hover {
	display: block;
	float: left;
	text-decoration: none;
}

.footer a#logo i {
	float: left;
}

.footer a#logo h3 {
	display: inline-block;
	margin: 10px 0px;
}

.footer a#logo small {
	display: block;
	font-size: 0.8em;
	margin-top: -10px;
	color: #63686C;
	white-space: nowrap;
}

.footer	.nav a {
	color: #FFFFFF;
}

.footer .navbar .nav {
	margin: 8px 0px;
}

.footer .nav a:hover {
	color: #2DE46D;
	background-color: transparent;
}

.footer .nav .active {
	color: #2DE46D;
	background-color: transparent;
}

@media (min-width: 768px) {
	.footer {
		padding: 20px 0px;
	}
}

#api h2.section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ecf0f1
}

#api h1 {
    word-break: break-all
}

#api .fixed-accordion .accordion-header {
    position: fixed;
    top: 200px
}

#api code {
    background-color: transparent
}

#api .label {
    cursor: default
}

#api .label-query {
    background-color: #27ae60
}

#api .label-path {
    background-color: #2980b9
}

#api .label-body {
    background-color: #f1c40f
}

#api table code {
    background-color: transparent
}

#api pre {
    padding-left: 15px;
    color: #7f8c8d;
    background-color: #fff;
    border-left: 7px solid #ecf0f1;
    border-radius: 0
}

#api .operation {
    padding-top: 200px;
    margin-top: 15px;
    margin-top: -200px;
    margin-bottom: 15px
}

#api .operation .accordion-header {
    display: block;
    padding: 15px;
    color: #555;
    text-decoration: none !important;
    background-color: rgba(236, 240, 241, .95)
}

#api .operation .accordion-header p:last-child {
    margin: 0
}

#api .operation .accordion-header .monospace {
    line-height: 2em;
    word-break: break-all
}

#api .operation .accordion-header .method-GET {
    padding: 4px;
    color: #fff;
    background-color: #27ae60;
    border-radius: 4px
}

#api .operation .accordion-header .method-POST {
    padding: 4px;
    color: #fff;
    background-color: #2980b9;
    border-radius: 4px
}

#api .operation .accordion-header .method-PUT {
    padding: 4px;
    color: #fff;
    background-color: #f1c40f;
    border-radius: 4px
}

#api .operation .accordion-header .method-DELETE {
    padding: 4px;
    color: #fff;
    background-color: #e74c3c;
    border-radius: 4px
}

#api .operation .accordion-header .method-PATCH {
    padding: 4px;
    color: #fff;
    background-color: #f1c40f;
    border-radius: 4px
}

#api .operation .accordion-header .path-GET {
    color: #27ae60
}

#api .operation .accordion-header .path-POST {
    color: #2980b9
}

#api .operation .accordion-header .path-PUT {
    color: #f1c40f
}

#api .operation .accordion-header .path-DELETE {
    color: #e74c3c
}

#api .operation .accordion-header .path-PATCH {
    color: #f1c40f
}

#api .accordion-content {
    margin-top: 15px;
    overflow: hidden
}

#api .accordion-slide {
    -webkit-transition: height .5s linear;
    -moz-transition: height .5s linear;
    transition: height .5s linear
}

#api .selected-version a {
    background-color: #fff !important
}

#api .versions {
    width: 100%
}

#api .versions li {
    border-bottom: 0 !important
}

#api .nav-stacked a {
    color: #555
}

#api .nav-stacked>li>a:hover, #api .nav-stacked>li>a:focus {
    color: #27ae60;
    background-color: transparent
}

#api .nav-stacked>li.active>a, #api .nav-stacked>li.active>a:hover {
    color: #fff;
    background-color: #27ae60
}

#api .nav-stacked>li+li {
    margin-top: 0
}

#api .nav-stacked li.active a {
    border-radius: 0
}

#api .content {
    padding-top: 150px
}

#api .variable, #api .function {
    padding-top: 200px;
    margin-top: -200px
}


/* company */

.shot{
	display:block;
	padding:5px;
	margin-top:35px;
	margin-right:auto;
	margin-bottom:35px;
	margin-left:auto;
	text-align:center;
	background:#fcfcfc;
	background-position:center center;
	background-repeat:no-repeat;
	border:1px solid #eee;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 1px 12px #999;
	-moz-box-shadow:0 1px 12px #999;
	box-shadow:0 1px 12px #999
}

.team{
	display:block;
	width:150px;
	height:150px;
	padding:2px;
	margin-right:auto;
	margin-left:auto;
	background:#fcfcfc;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:145px 145px;
	border:1px solid #eee;
	border-radius:50%;
	-webkit-box-shadow:0 1px 3px #999;
	-moz-box-shadow:0 1px 3px #999;
	box-shadow:0 1px 3px #999
}

#press .thumbnails .thumbnail{
	height:250px;
	margin-bottom:20px
}

#press .thumbnails .span6:nth-child(odd){
	margin-left:0
}

#press .thumbnails .thumbnail *{
	padding-left:120px;
	color:#555
}

#press .thumbnails .thumbnail h4{
	margin-bottom:0;
	font-weight:600
}

#press .thumbnails .thumbnail .date{
	font-size:12px;
	color:#666
}

#press .thumbnails .thumbnail:hover,#press .thumbnails .thumbnail:focus{
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.055);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.055);
	box-shadow:0 1px 3px rgba(0,0,0,.055)
}

#press .thumbnails .thumbnail{
	padding:10px;
	background-color:#fdfdfd;
	background-position:10px center;
	background-repeat:no-repeat;
	-webkit-transition:background-color .1s linear;
	-moz-transition:background-color .1s linear;
	transition:background-color .1s linear
}

#press .thumbnail{
	background-size:100px auto
}

#company .header {
	text-align: center;
	background: transparent;
}

#company .nav-pills li{
	border:1px solid #eee;
	border-right:0
}

#company .nav-pills li>a{
	color:#27ae60;
	border-radius:0
}

#company .nav-pills li>a:hover{
	color:#555;
	background-color:#fff
}

#company .nav-pills li:first-child{
	border-bottom-left-radius:4px;
	border-top-left-radius:4px
}

#company .nav-pills li:last-child{
	border-right:1px solid #eee
}

#company .nav-pills li:last-child{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}

#company .nav-pills li.active{
	background-color:#27ae60;
	border:1px solid #145b32
}

#company .nav-pills li.active>a{
	color:#fff
}

#company .nav-pills li.active>a:hover{
	background-color:#27ae60
}

#r{
	background-image:url('../images/team/roger.png')
}

#e{
	background-image:url('../images/team/eric.png')
}

#m{
	background-image:url('../images/team/matthias.png')
}

#a{
	background-image:url('../images/team/alexander.png')
}

#d{
	background-image:url('../images/team/dennis.png')
}

#f{
	background-image:url('../images/team/federico.png')
}

#g{
	background-image:url('../images/team/ghislain.png')
}

#n{
	background-image:url('../images/team/nicolae.png')
}

#w{
	background-image:url('../images/team/william.png')
}

#p{
	background-image:url('../images/team/paul.png')
}

#dana{
	background-image:url('../images/team/dana.png')
}

#donald{
	background-image:url('../images/team/donald.png')
}

#wolfram{
	background-image:url('../images/team/wolfram.png')
}

#t{
	background-image:url('../images/team/trevor.png')
}

@media (min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx){
	#r{
		background-image:url('../images/team/roger@2x.png')
	}

	#e{
		background-image:url('../images/team/eric.png')
	}

	#m{
		background-image:url('../images/team/matthias@2x.png')
	}

	#a{
		background-image:url('../images/team/alexander@2x.png')
	}

	#d{
		background-image:url('../images/team/dennis.png')
	}

	#g{
		background-image:url('../images/team/ghislain@2x.png')
	}

	#n{
		background-image:url('../images/team/nicolae.png')
	}

	#w{
		background-image:url('../images/team/william.png')
	}

	#p{
		background-image:url('../images/team/paul@2x.png')
	}

	#wolfram{
		background-image:url('../images/team/wolfram.png')
	}

	#t{
		background-image:url('../images/team/trevor@2x.png')
	}

}

#press .forbes{
	background-image:url('../images/press/forbes.png')
}

#press .oreilly{
	background-image:url('../images/press/oreilly.png')
}

#press .r451{
	background-image:url('../images/press/451.png')
}

#press .gigaom{
	background-image:url('../images/press/gigaom.png')
}

#press .techcrunch{
	background-image:url('../images/press/techcrunch.png')
}

#press .infoq{
	background-image:url('../images/press/infoq.png')
}

#press .it-tna{
	background-image:url('../images/press/it-tna.png')
}

#press .informationweek{
	background-image:url('../images/press/informationweek.png')
}

@media (min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx){
	#press .gigaom{
		background-image:url('../images/press/gigaom@2x.png')
	}

	#press .infoq{
		background-image:url('../images/press/infoq@2x.png')
	}

	#press .it-tna{
		background-image:url('../images/press/it-tna@2x.png')
	}

	#press .techcrunch{
		background-image:url('../images/press/techcrunch@2x.png')
	}

	#press .informationweek{
		background-image:url('../images/press/informationweek@2x.png')
	}

	#press .r451{
		background-image:url('../images/press/451@2x.png')
	}

	#press .forbes{
		background-image:url('../images/press/forbes@2x.png')
	}

	#press .oreilly{
		background-image:url('../images/press/oreilly@2x.png')
	}

}

.palo-alto{
	width:400px;
	height:400px;
	background-image:url('../images/offices/palo-alto.png');
	background-size:400px 400px
}

.zurich{
	width:400px;
	height:400px;
	background-image:url('../images/offices/zurich.png');
	background-size:400px 400px
}

@media (min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx){
	.palo-alto{
		width:400px;
		height:400px;
		background-image:url('../images/offices/palo-alto@2x.png')
	}

	.zurich{
		width:400px;
		height:400px;
		background-image:url('../images/offices/zurich@2x.png')
	}

}

.query-scientists>div{
	margin-top:40px
}

/* end company */

.divtable {
    min-width: 970px;
}
.divtable .line {
    border-bottom: 1px solid gainsboro;
}
.divtable .line.even { 
    background-color:#f9f9f9;
}
.divtable .line > span {
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    word-wrap: break-word;
}
.divtable .line > span:nth-child(1) {
    width: 3%;
}
.divtable .line > span:nth-child(2) {
    width: 35%;
}
.divtable .line > span:nth-child(3) {
    width: 8%;
}
.divtable .line > span:nth-child(4) {
    width: 8%;
}
.divtable .line > span:nth-child(5) {
    width: 8%;
}
.divtable .line > span:nth-child(6) {
    width: 8%;
}
.divtable .line > span:nth-child(7) {
    width: 30%;
}
.divtable .head {
    border-bottom: 2px solid gainsboro;
}
.divtable .head > span {
    font-weight: bold;
    padding: 8px 5px;
}
.modelstructure span.Table {
    color: #cc0099;
    font-weight: bold;
}
.modelstructure span.Axis {
    color: #9922c6;
    font-weight: bold;
}
.modelstructure span.Member {
    color: #db58ed;
}
.modelstructure span.LineItems {
    color: #009933;
    font-weight: bold;
}
.modelstructure .line > span:nth-child(6) {
    text-transform: capitalize;
}

.selection .alert {
    padding: 3px;
    margin: 3px;
    display: inline-block;
}

.selection .alert .close {
    font-size: 1em;
    padding: 3px 2px;
}

@media (min-width: 768px) {
    .selection .customize {
        min-height: 550px;
    }
}

table.excel > tbody > tr > td:first-child {
    min-width: 240px;
}

#whitepaper {
    background: #FFFFFF;
}

#whitepaper img {
    max-width: 100%;
}
