node_modules
dist
.tmp
.sass-cache
bower_components
.idea
app/modules/*-api.js
app/modules/formula-parser.js
app/constants.js
app/styles/*.css
.DS_Store
*~
*.swp
*.swo
grunt-aws.json
.project
queries/private/UpdateReportSchema.jq
queries/modules/io/28/apps/config.jq
tests/e2e/config/config.js
config.json
.c9
coverage
