sudo: false
language: node_js
node_js:
- '0.10.33'
addons:
  firefox: '31.0'
before_install:
- npm install -g npm
- npm --version
before_script:
- gem install sass
- npm install -g bower gulp
- bower install
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
script:
- gulp setup
after_script:
- gulp teardown
matrix:
  fast_finish: true
  allow_failures:
  - env: CELLSTORE_CONFIG=nl
env:
  matrix:
  - CELLSTORE_CONFIG=secxbrl
  - CELLSTORE_CONFIG=edinet
  - CELLSTORE_CONFIG=nl
  global:
  - RANDOM_ID=$RANDOM
  - secure: fiUFTXfxErtySuib70NOP40NJ9D15ArwkZmkZhjoHP0fpTcLvhi0AuvEEDuGrsn+Cs35vFcuQlflarP+1e/5LMe4jUaGXuhBtUUcf9d1znpJHBgpHuj+jEHFCoQ3ew+NXrh+lKADKeyalkF8R9xXjj/+dwfNVWVu8n85qw0mn/I=
