'use strict';

exports.config = {
    testUser: 'support@28.io',
    testPassword: '{{secxbrl.supportPassword}}',
    environment: '{{staging.environment}}',
    e2eReportsDir: '{{{staging.e2eReportsDir}}}'
};
