'use strict';

exports.config = {
    testUser: '{{secxbrl.supportUser}}',
    testPassword: '{{secxbrl.supportPassword}}',
    environment: '{{staging.environment}}',
    e2eReportsDir: '{{{staging.e2eReportsDir}}}',
    allowRegistration: {{secxbrl.allowRegistration}}
};
