module namespace credentials = "http://secxbrl.info/modules/credentials";

declare variable $credentials:admin-password := "{{adminPassword}}";
declare variable $credentials:support-password := "{{supportPassword}}";