<div class="export">
    <div class="container">
        <h2 class="text-center">API Usage</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 widget">
            <legend>User Calls</legend>
            <ul class="list-unstyled widget-body">
                <li ng-repeat="s in data.userStatistics | orderBy: s.calls">
                    <span class="pull-right">{{s.calls}}</span>
                    {{s.email}}
                </li>
            </ul>
            <small>
                User activity for {{data.fromDate | date}} - {{data.toDate | date }}.<br>
                Most active users are displayed first.
            </small>
        </div>
        <div class="col-md-8">
            <div google-chart chart="chart"></div>
        </div>
    </div>
</div>