'use strict';

exports.config = {
    testUser: '{{cellstore.testUser}}',
    testPassword: '{{cellstore.testPassword}}',
    environment: '{{staging.environment}}',
    e2eReportsDir: '{{{staging.e2eReportsDir}}}',
    configId: '{{{staging.configId}}}',
    allowRegistration: {{cellstore.allowRegistration}}
};
