'use strict';

exports.config = {
    testUser: '{{secxbrl.config.testUser}}',
    testPassword: '{{secxbrl.credentials.testPassword}}',
    environment: '{{staging.environment}}',
    e2eReportsDir: '{{{staging.e2eReportsDir}}}',
    allowRegistration: {{secxbrl.config.allowRegistration}}
};
