'use strict';

angular.module('constants', [])
.constant('APPNAME', '{{APPNAME}}')
.constant('API_URL', '{{{API_URL}}}')
.constant('DEBUG', '{{DEBUG}}')
.constant('ACCOUNT_URL', '{{{ACCOUNT_URL}}}')
.constant('REGISTRATION_URL', '{{{REGISTRATION_URL}}}')
.constant('PROFILE', '{{PROFILE}}')
;
