<div id="formula-editor" class="scrollable">
    <form novalidate class="scrollable form-horizontal" role="form">

        <!-- if 'SpreadsheetFormula'-->
        <div class="alternatives">
            <tabset ng-if="formula.model.OriginalLanguage === 'SpreadsheetFormula'">
                <tab ng-repeat="alt in formula.model.Formulae track by $index" active="alt.active">
                    <tab-heading>
                        <span ng-class="{'text-danger': alt.valid===false}"><i class="fa fa-bell-o" style="color: #a94442" ng-show="alt.valid===false"></i> Alternative {{$index +1}}</span>
                                <span class="btn-group" dropdown is-open="status.isopen" style="margin-left: 10px; margin-right: 10px;">
                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" ng-disabled="disabled"><span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-if="formula.model.Formulae.length > 1"><a href="#" ng-click="formula.removeAlternative($index)" class="text-danger"><i class="fa fa-trash-o"></i> Delete</a></li>
                                        <li><a href="#" ng-click="formula.copyAlternative($index)"><i class="fa fa-copy"></i> Duplicate</a></li>
                                    </ul>
                                </span>
                    </tab-heading>
                    <div class="tab-body">
                        <div class="form-group" ng-class="{'has-error': alt.SourceFactErr!==undefined}">
                            <label for="sourceFact{{$index}}" class="col-sm-2 control-label">Mandatory Source Fact</label>
                            <div class="col-sm-10">
                                <input type="text" id="sourceFact{{$index}}" class="form-control" ng-model="alt.SourceFact[0]" ng-pattern="/^.+$/"
                                       ng-change="validate(true)" typeahead="key for key in availableConceptNames | filter:$viewValue | limitTo: 20"
                                       typeahead-on-select="onSelectTypeAhead(true)">
                            </div>
                            <div class="col-sm-offset-2 col-sm-10" ng-if="alt.SourceFactErr">
                                <p ng-bind="alt.SourceFactErr" class="text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': alt.PrereqErr!==undefined}">
                            <label for="precondition{{$index}}" class="col-sm-2 control-label">Precondition</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="precondition{{$index}}" rows="1" placeholder="" ng-change="compilePrereq($index, true)" ng-model="alt.PrereqSrc"></textarea>
                            </div>
                            <div class="alert alert-danger col-sm-offset-2 col-sm-10" ng-show="alt.PrereqErr" style="margin-top: 20px;">{{alt.PrereqErr}}</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': alt.BodyErr!==undefined}">
                            <label for="rule{{$index}}" class="col-sm-2 control-label">Arithmetic Rule</label>
                            <div  class="col-sm-10">
                                <textarea class="form-control" id="rule{{$index}}" rows="6" placeholder="" ng-change="compileBody($index, true)" ng-model="alt.BodySrc"></textarea>
                            </div>
                            <div class="alert alert-danger col-sm-offset-2 col-sm-10" ng-show="alt.BodyErr" style="margin-top: 20px;">{{alt.BodyErr}}</div>
                            <div class="alert alert-danger col-sm-offset-2 col-sm-10" ng-show="formula.model.DependsOnErr" style="margin-top: 20px;">{{formula.model.DependsOnErr}}</div>
                        </div>
                    </div>
                </tab>
                <tab select="formula.addAlternative()">
                    <tab-heading>
                                <span tooltip-trigger="mouseenter" tooltip-placement="{{tooltipPlacement}}"
                                      tooltip="Add an alternative that will get executed if the precondition of the previous alternative fails."><i class="fa fa-plus-square-o"></i> Add An Alternative</span>
                    </tab-heading>
                </tab>

            </tabset>
        </div>

        <!-- if !'SpreadsheetFormula' (advanced rule) -->
        <!-- ## Calculation ## -->
        <div ng-if="formula.model.Type === 'xbrl28:formula' && formula.model.OriginalLanguage !== 'SpreadsheetFormula'">
            <div class="form-group" ng-class="{'has-error': formula.model.FormulaErr!==undefined}">
                <label for="rule" class="col-sm-2 control-label">Advanced Rule</label>
                <div  class="col-sm-10">
                    <textarea class="form-control" id="rule" rows="20" placeholder="" ng-change="validate(false)" ng-model="formula.model.Formula"></textarea>
                </div>
                <div class="alert alert-danger col-sm-offset-2 col-sm-10" ng-show="formula.model.FormulaErr" style="margin-top: 20px;">{{formula.model.FormulaErr}}</div>
            </div>
        </div>
        <!-- ## Validation ## -->
        <div ng-if="formula.model.Type === 'xbrl28:validation' && formula.model.OriginalLanguage !== 'SpreadsheetFormula'">
            <div class="form-group" ng-class="{'has-error': formula.model.ValidatedConceptsErr!==undefined}">
                <label for="validatedConcept" class="col-sm-2 control-label">Validated Concept</label>
                <div class="col-sm-10">
                    <input type="text" id="validatedConcept" class="form-control" ng-model="formula.model.ValidatedConcepts" ng-pattern="/^.+$/" ng-list ng-change="validate()">
                </div>
                <div class="col-sm-offset-2 col-sm-10" ng-if="formula.model.ValidatedConceptsErr">
                    <p ng-bind="formula.model.ValidatedConceptsErr" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': formula.model.FormulaErr!==undefined}">
                <label for="validation" class="col-sm-2 control-label">Advanced Validation Rule</label>
                <div  class="col-sm-10">
                    <textarea class="form-control" id="validation" rows="20" placeholder="" ng-change="formula.compile()" ng-model="formula.model.Formula"></textarea>
                </div>
                <div class="alert alert-danger col-sm-offset-2 col-sm-10" ng-show="formula.model.FormulaErr" style="margin-top: 20px;">{{formula.model.FormulaErr}}</div>
            </div>
        </div>

        <accordion>
            <accordion-group is-open="propertiesOpen">
                <accordion-heading>
                    Fact Properties <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !propertiesOpen}"></i>
                </accordion-heading>
                <div class="accordion-body">

                    <!-- ## Computed Fact (advanced rules only) ## -->
                    <div class="form-group" ng-show="formula.model.OriginalLanguage !== 'SpreadsheetFormula'"
                         ng-class="{'has-error': formula.model.ComputableConceptsErr!==undefined && formula.model.OriginalLanguage !== 'SpreadsheetFormula'}">
                        <label for="compFact" class="col-sm-2 control-label">Computed Fact Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="compFact" class="form-control" ng-model="formula.model.ComputableConcepts"
                                   ng-list ng-change="validate()" ng-if="formula.model.OriginalLanguage !== 'SpreadsheetFormula'">
                            <input type="text" id="compFact" class="form-control" ng-model="formula.model.ComputableConcepts"
                                   ng-list readonly ng-if="formula.model.OriginalLanguage === 'SpreadsheetFormula'">
                        </div>
                        <div class="col-sm-offset-2 col-sm-10" ng-if="formula.model.ComputableConceptsErr &&  formula.model.OriginalLanguage !== 'SpreadsheetFormula'">
                            <p ng-bind="formula.model.ComputableConceptsErr" class="text-danger"></p>
                        </div>
                    </div>

                    <!-- ## validated Fact (spreadsheet rules only) ## -->
                    <div ng-show="formula.model.OriginalLanguage === 'SpreadsheetFormula'"
                         ng-if="formula.model.Type === 'xbrl28:validation'">
                        <div class="form-group" ng-class="{'has-error': formula.model.ValidatedConceptsErr!==undefined}">
                            <label for="validatedConcept1" class="col-sm-2 control-label">Validated Concept</label>
                            <div class="col-sm-10">
                                <input type="text" readonly id="validatedConcept1" class="form-control" ng-model="formula.model.ValidatedConcepts" ng-list>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10" ng-if="formula.model.ValidatedConceptsErr">
                                <p ng-bind="formula.model.ValidatedConceptsErr" class="text-danger"></p>
                            </div>
                        </div>
                    </div>

                    <!-- ## UNIT ## -->
                    <div>
                        <div class="form-group" ng-class="{'has-error': formula.model.UnitErr!==undefined}">
                            <label for="factUnit" class="col-sm-2 control-label">Unit</label>
                            <div class="col-sm-10">
                                <select id="factUnit" class="form-control"
                                        data-ng-change="validate()"
                                        data-ng-model="formula.model.Unit"
                                        ng-options="key group by value.substr(0, value.indexOf(':')) for (key , value) in report.Units">
                                    <option value="">- auto -</option>
                                </select>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10" ng-if="formula.model.UnitErr">
                                <p ng-bind="formula.model.UnitErr" class="text-danger"></p>
                            </div>
                        </div>
                    </div>

                    <!-- ## DECIMALS ## -->
                    <div>
                        <div class="form-group" ng-class="{'has-error': formula.model.DecimalsErr!==undefined}">
                            <label for="factDecimals" class="col-sm-2 control-label">Decimals</label>
                            <div class="col-sm-10">
                                <input type="text" id="factDecimals" class="form-control" ng-change="validate()" ng-model="formula.model.Decimals" placeholder="- auto -">
                            </div>
                            <div class="col-sm-offset-2 col-sm-10" ng-if="formula.model.DecimalsErr">
                                <p ng-bind="formula.model.DecimalsErr" class="text-danger"></p>
                            </div>
                        </div>
                    </div>

                    <!-- ## Dependencies (advanced rules only) ## -->
                    <div class="form-group" ng-show="formula.model.OriginalLanguage !== 'SpreadsheetFormula'"
                         ng-class="{'has-error': formula.model.DependsOnErr!==undefined}">
                        <label for="deps" class="col-sm-2 control-label">Dependencies</label>
                        <div class="col-sm-10">
                            <input ng-if="formula.model.OriginalLanguage === 'SpreadsheetFormula'"
                                   class="form-control" ng-model="formula.model.DependsOn" ng-list type="text" id="deps" readonly>
                            <input ng-if="formula.model.OriginalLanguage !== 'SpreadsheetFormula'"
                                   class="form-control" ng-model="formula.model.DependsOn" ng-list ng-change="validate()" type="text" id="deps">
                        </div>
                        <div class="col-sm-offset-2 col-sm-10" ng-if="formula.model.DependsOnErr">
                            <p ng-bind="formula.model.DependsOnErr" class="text-danger"></p>
                        </div>
                    </div>

                    <!-- ## Hide Rules ## -->
                    <div class="form-group" ng-class="{'has-error': formula.model.HideRulesForConceptsErr!==undefined}">
                        <label for="deps" class="col-sm-2 control-label">Hide Rules for Concepts</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="formula.model.HideRulesForConcepts" ng-list ng-change="validate()" type="text" id="hiddenRules" placeholder="- none -">
                        </div>
                        <div class="col-sm-offset-2 col-sm-10" ng-if="formula.model.HideRulesForConceptsErr">
                            <p ng-bind="formula.model.HideRulesForConceptsErr" class="text-danger"></p>
                        </div>
                    </div>

                    <!-- ## Options (spreadsheet rules only) ## -->
                    <div class="form-group" ng-if="formula.model.OriginalLanguage === 'SpreadsheetFormula'">
                        <label for="coverAspects" class="col-sm-2 control-label">Options</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="coverAspects" ng-model="formula.model.AllowCrossPeriod">
                            <span tooltip="Allow facts to be computable across different period types (e.g. divide Revenue [duration] by Assets [instant])." tooltip-trigger="mouseenter" tooltip-placement="{{tooltipPlacement}}">
                                Compute facts across different period types (duration/instant)</span>
                        </div>
                        <div class="col-sm-10">
                            <input type="checkbox" ng-model="formula.model.AllowCrossBalance">
                            <span tooltip="Allow facts to be computable across different balance types (e.g. allow to compare Assets [debit] with Equity [credit])." tooltip-trigger="mouseenter" tooltip-placement="{{tooltipPlacement}}">
                                Compute facts across different balance types (debit/credit)</span>
                        </div>
                    </div>

                </div>
            </accordion-group>
        </accordion>

        <div class="alert alert-danger" ng-if="error">
            <h4>Submission Error</h4>
            <p ng-bind="error"></p>
        </div>
        <div class="button-bar">
            <button class="btn btn-primary" ng-click="ok()" ng-bind="action" ng-if="formula.isValid()===true"></button>
            <button class="btn btn-primary" ng-click="ok()" ng-bind="action" disabled="disabled" ng-if="formula.isValid()===false"
                    tooltip="The Rule contains errors. You need to fix them before you can go on." tooltip-trigger="mouseenter" tooltip-placement="top"></button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
