<h4>
    <div class="btn-group dropdown">
        <a class="btn btn-default fa fa-edit disabled" ng-click="editConcept"></a>
            <span class="btn btn-default fa fa-gear dropdown-toggle"></span>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="deleteConcept()"><i class="fa fa-times"></i> Delete</a></li>
            </ul>
    </div>
    <span ng-bind="concept.Name"></span>
    <span ng-if="concept.Label">
        - <span ng-bind="concept.Label"></span>
    </span>
</h4>
<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a ui-sref="report.concept({ id: id, network: 'presentation', concept: concept.Name })">Presentation</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="report.concept({ id: id, network: 'concept-map', concept: concept.Name })">Concept Maps</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="report.concept({ id: id, network: 'business-rule', concept: concept.Name })">Business Rules</a>
    </li>
</ul>
<div ng-switch on="network" class="scrollable tab-content">
    <div ng-switch-when="presentation" id="presentation-tree">
        <div>
            <button class="btn" ng-class="{ 'btn-default': hasNoChild === false, 'btn-primary': hasNoChild === true, disabled: concept.IsAbstract }" ng-click="makeConceptRootInPresentation()">Make Root</button>
            <span class="sortable-container" ui-sortable="sortableOptions" ng-model="dropConcept">
                <span class="sortable btn" ng-repeat="concept in dropConcept" ng-class="{ 'btn-primary': hasNoChild === false, 'btn-default': hasNoChild === true, 'disabled': hasNoChild === true }" id="{{concept.Name}}"><i class="fa fa-share"></i> Drop to Parent</span>
            </span>
        </div>
        <ul class="nav nav-list nav-pills nav-stacked abn-tree sortable-container" ui-sortable="sortableOptions" ng-model="rows">
            <li ng-repeat="row in rows"  ng-class="'level-' + {{ row.level }} + (selected.Id === row.branch.Id ? ' active':'')" class="abn-tree-row sortable" id="{{row.branch.Id}}">
                <a ng-click="selectRow(row)">
                    <i ng-class="{ 'fa-caret-right': !row.branch.expanded && row.branch.To, 'fa-caret-down': row.branch.expanded && row.branch.To }" class="indented tree-icon fa"></i>
                    <span class="indented tree-label">{{row.branch.Label}} ({{row.branch.Name}})</span>
                    <span class="remove-concept indented fa fa-times" ng-click="removeRow(row.branch.Id)"></span>
                </a>
            </li>
        </ul>
    </div>
    <div ng-switch-when="concept-map">
        <div ng-if="map === undefined">
            <div ng-if="concept.IsAbstract !== true">
                <p>There is no concept map associated to <span ng-bind="conceptName"></span>.</p>
                <button ng-click="addConceptMap()" class="btn btn-primary">Add concept Map</button>
            </div>
            <div ng-if="concept.IsAbstract === true">
                <p>This concept is abstract. It cannot have a concept map.</p>
            </div>
        </div>
        <div ng-if="map !== undefined">
            <p>
                <button class="btn btn-default" ng-click="removeConceptMap()">Remove Concept Map</button>
            </p>
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="key in map">
                    <span ng-bind="key"></span>
                    <div class="btn-group pull-right">
                        <button class="btn btn-default" type="button" ng-click="moveValueFromConceptMap(key, $index + 1)" ng-if="$last === false"><i class="fa fa-long-arrow-down"></i></button>
                        <button class="btn btn-default" type="button" ng-click="moveValueFromConceptMap(key, $index - 1)" ng-if="$first === false"><i class="fa fa-long-arrow-up"></i></button>
                        <button class="btn btn-default" type="button" ng-click="removeValueFromConceptMap(key)"><i class="fa fa-times"></i></button>
                    </div>
                </li>
            </ul>
            <form class="form-inline" role="form" ng-submit="addValueToConceptMap(newConceptValue)" ui-keypress="{ 13:'addValueToConceptMap(newConceptValue)' }">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="conceptValue" placeholder="Concept Name" ng-model="newConceptValue">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-switch-when="business-rule">
        <h4>Business Rule</h4>
    </div>
</div>