<div class="container">
    <h1 class="text-center">Report Schemas</h1>
    <p>
        <button ng-click="newReport()" class="btn btn-primary">Create New Report</button>
    </p>
    <div class="list-group">
        <span ng-if="reports.length === 0" class="list-group-item text-center">You have no reports yet. <a ng-click="newReport()">Create one.</a></span>
        <a ng-repeat="report in reports" ng-href="/reports/{{report._id}}" ng-bind="report.Label ? report.Label : report._id" class="list-group-item"></a>
    </div>
</div>