<div class="alert" ng-class="{ 'alert-success': status === 'saved', 'alert-warning': status === 'saving', 'alert-danger': status === 'savingError' }" id="saveStatus" ng-show="status" ng-switch on="status">
    <small ng-switch-when="saving">Saving...</small>
    <small ng-switch-when="saved">Saved</small>
    <small ng-switch-when="savingError">Error while saving</small>
</div>
<report report-api="{{api}}" report-api-token="{{token}}" report-id="{{id}}" id="report" full-screen>
    <div class="text-center" ng-if="!report">
        <h1>Loading Report <i class="fa fa-spinner fa-spin"></i></h1>
    </div>
    <flexy-layout orientation="horizontal" ng-if="report">
        <block-container init="400" class="sidebar">
            <div class="group-item">
                <input type="text" ng-model="search" class="search" placeholder="Search...">
            </div>
            <div class="group-item clearfix">
                <div class="pull-left">
                    <button ng-click="newConcept()" class="btn btn-primary"><i class="fa fa-plus"></i> Concept</button>
                </div>
                <div class="pull-left filters" ng-init="isCollapsed = true">
                    <a ng-click="isCollapsed = !isCollapsed"><i class="fa" ng-class="{ 'fa-caret-right': isCollapsed, 'fa-caret-down': !isCollapsed }"></i> Filters</a>
                    <div collapse="isCollapsed">
                        <span class="label label-default"><input type="checkbox" ng-model='filter.abstract' ng-change='onChange(filter.abstract)' indeterminate /> Abstract</span>
                        <br>
                        <span class="label label-info"><input type="checkbox" ng-model='filter.presentation' ng-change='onChange(filter.presentation)' indeterminate /> Presentation</span>
                        <br>
                        <span class="label label-success"><input type="checkbox" ng-model='filter.conceptMap' ng-change='onChange(filter.conceptMap)' indeterminate /> Concept Map</span>
                        <br>
                        <span class="label label-warning"><input type="checkbox" ng-model='filter.businessRule' ng-change='onChange(filter.businessRule)' indeterminate /> Business Rule</span>
                    </div>
                </div>
            </div>
            <div class="list-group scrollable" ng-init="selectedConcept = concept">
                <a class="list-group-item" ng-class="{ italic: concept.IsAbstract === true }" ng-repeat="concept in concepts | filter:search | ConceptFilter:filter:report:selectedConcept" id="{{concept.Name}}" ui-sref-active="active" ui-sref="report({ id: id, network: network, concept: concept.Name })">
                    <span>
                        {{concept.Name}}
                        <span ng-if="concept.IsAbstract" class="label label-default" tooltip="This concept is abstract" tooltip-placement="right" tooltip-popup-delay="750" tooltip-append-to-body="true">&nbsp;</span>
                        <span ng-init="pLength = isInPresentation(concept).length">
                            <span ng-if="pLength > 0" ng-bind="pLength" class="label label-info" tooltip="This concept is present in the presentation tree" tooltip-placement="right" tooltip-popup-delay="750" tooltip-append-to-body="true">&nbsp;</span>
                        </span>
                        <span ng-init="cLength = isInConceptMap(concept).length">
                            <span ng-if="cLength > 0" class="label label-success" tooltip="This concept has a concept map" tooltip-placement="right" tooltip-popup-delay="750" tooltip-append-to-body="true">&nbsp;</span>
                        </span>
                        <span ng-init="bLength = isInBusinessRule(concept).length">
                            <span ng-if="bLength > 0" ng-bind="bLength" class="label label-warning" tooltip="This concept has business rules" tooltip-placement="right" tooltip-popup-delay="750" tooltip-append-to-body="true">&nbsp;</span>
                        </span>
                    </span>
                </a>
            </div>
        </block-container>
        <block-splitter></block-splitter>
        <block-container class="mainbar">
            <h4 style="margin-top: 0;">
                <a href="/reports">reports</a> / <span ng-bind="report.model._id"></span> <span ng-if="concept"> / <span ng-bind="concept"></span></span>
            </h4>
            <ul class="nav nav-tabs">
                <li ui-sref-active="active" ng-if="concept">
                    <a ui-sref="report({ id: id, network: 'concept', concept: concept })">Concept</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="report({ id: id, network: 'presentation', concept: concept })">Presentation</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="report({ id: id, network: 'concept-maps', concept: concept })">Concept Maps</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="report({ id: id, network: 'business-rules', concept: concept })">Business Rules</a>
                </li>
            </ul>
            <div ng-switch on="network" class="scrollable tab-content">
                <div ng-switch-when="concept">
                    <div ng-if="concept">
                        <concept concept-name="{{concept}}"></concept>
                    </div>
                    <div ng-if="!concept">
                        <p>No concept is selected. You can pick one on the left end side or create a new concept.</p>
                        <button ng-click="newConcept()" class="btn btn-primary"><i class="fa fa-plus"></i> Concept</button>
                    </div>
                </div>
                <div ng-switch-when="presentation">
                    <presentation-tree concept-name="{{concept}}"></presentation-tree>
                </div>
                <div ng-switch-when="concept-maps">
                    <div ng-if="concept">
                        <concept-map concept-name="{{concept}}"></concept-map>
                    </div>
                    <div ng-if="!concept">
                        <p>No concept is selected. You can pick one on the left end side or create a new concept.</p>
                        <button ng-click="newConcept()" class="btn btn-primary"><i class="fa fa-plus"></i> Concept</button>
                    </div>
                </div>
                <div ng-switch-when="business-rules">
                    <h2>Business Rules</h2>
                </div>
            </div>
        </block-container>
    </flexy-layout>
</report>