<div class="topbar"></div>
<div class="row">
    <div class="container white">
      <div class="col-md-12">
        <div class="text-center" style="padding-bottom: 15px">
          <h3>About US Public Company Financial Information Repository</h3>
        </div>
        <div class="text-justify">
          <p>This repository contains financial information provided to the US Securities and Exchange Commission (SEC) by public companies using the XBRL global standard technical syntax. Submitted XBRL information contained in the filings is read by the system, converted to a format which is optimized for query (as opposed to XBRL which is optimized for information exchange), and stored in a database in that queriable format. Additional metadata is added to the system which is commonly used when querying this financial information. Please note that only financial information provided within SEC forms 10-Q and 10-K is provided via this system.</p><br>
          <p>In addition to the GUI (graphical user interface) an <a href="/api">API</a> (application programming interface) is also provided. Using the API information can be retrieved about entities, the filings made by those entities, the components contained within those filings, the model structure of a component, or the facts reported within a component. All information is provided in the following formats: JSON (the default), XML, CSV, and Excel.</p><br>
           
          <p>Information relating to the entities which make up the DOW 30 is provided without login.  Please note that information outside of the DOW30 can only be accessed using a valid token that can be retrieved by creating an account on http://www.secxbrl.info and login is done using the Session API.</p>
          <p><button class="btn btn-green btn-lg" ng-click="gotologin()">Sign Up</button> to access all SEC dataset</p><br>

          <p class="small">DISCLAIMER: All information provided is as reported by the reporting entity and has not been adjusted to correct for errors. This repository is a working prototype created using BizQL.io and is intended to be a demonstration of BizQL.io. This information repository should not be relied upon for financial analysis or for making investment decisions.</p>
        <div>
      </div>
  </div>
</div>

