<div>
    <div class="menu">
        <div class="container">
            <h4 translate>Account Management</h4>
            <div class="btn-group">
                <a class="btn btn-default" ng-class="{ active: subActive === 'info' }" ui-sref="root.account.info()">
                    <i class="fa fa-user"></i> <span translate>Profile</span>
                </a>
                <a class="btn btn-default" ng-class="{ active: subActive === 'billing' }" ui-sref="root.account.billing()">
                    <i class="fa fa-credit-card"></i> <span translate>Billing</span>
                </a>
                <a class="btn btn-default" ng-class="{ active: subActive === 'password' }" ui-sref="root.account.password()">
                    <i class="fa fa-lock"></i> <span translate>Password</span>
                </a>
                <a class="btn btn-default" ng-class="{ active: subActive === 'tokens' }" ui-sref="root.account.tokens()">
                    <i class="fa fa-cloud"></i> <span translate>API Tokens</span>
                </a>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>
