<div>
    <div class="menu">
        <div class="container">
            <h4>Account Management</h4>
            <div class="btn-group">
                <a class="btn btn-default" ng-class="{ active: subActive === 'info' }" ui-sref="root.account.info()">
                    <i class="fa fa-user"></i> Profile
                </a>
                <a class="btn btn-default" ng-class="{ active: subActive === 'password' }" ui-sref="root.account.password()">
                    <i class="fa fa-key"></i> Password
                </a>
                <a class="btn btn-default" ng-class="{ active: subActive === 'tokens' }" ui-sref="root.account.tokens()">
                    <i class="fa fa-key"></i> API Tokens
                </a>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>
