<div class="topbar text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-xs" ng-model="page" btn-radio="'/views/analytics.html'" ng-click="goto('/analytics')"><i class="icn icn-analytics"></i> Use of Extensions</button>
        <button type="button" class="btn btn-xs" ng-model="page" btn-radio="'/views/dashboard.html'" ng-click="goto('/dashboard')"><i class="icn icn-dashboard"></i> Fundamental Accounting Concepts</button>
        <button type="button" class="btn btn-xs" ng-model="page" btn-radio="'/views/search.html'" ng-click="goto('/search')"><i class="icn icn-search"></i> Search facts</button>
    </div>
</div>

<div class="cols">
	<div class="col-left col-md-3 col-sm-4 col-xs-12 fade-container">
		<div class="fade-content" ng-hide="year"></div>
		<div class="fade-panel-analytics" ng-hide="year">
			Click on any node to breakdown yearly information on custom criteria
			<div class="arrow"></div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<h6 class="nowrap">FISCAL YEAR</h6>
			<ul class="selector" style="height: 97px">
				<li ng-repeat="y in years" ng-class="{ selected: year == y }" ng-click="year=y; change(year, period, group)">{{y}}</li>
			</ul>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<span style="margin-left: -15px; margin-top: 5px; float: left;">/</span>
			<h6 class="nowrap">PERIOD FOCUS</h6>
			<ul class="selector" style="height: 97px">
				<li ng-repeat="p in periods" ng-class="{ selected: period == p }" ng-click="period=p; change(year, period, group)">{{p}}</li>
			</ul>
		</div>
		<div style="clear: both"></div>
		<div class="col-xs-12">
			<h6 class="nowrap">USE OF EXTENSIONS BREAKDOWN</h6>
			<ul class="selector">
				<li ng-class="{ selected: group == 'sector' }" ng-click="group='sector'; change(year, period, group)">by Sector</li>
				<li ng-class="{ selected: group == 'generator' }" ng-click="group='generator'; change(year, period, group)">by Generator</li>
				<li ng-class="{ selected: group == 'entityType' }" ng-click="group='entityType'; change(year, period, group)">by Entity Type</li>
				<li ng-class="{ selected: group == 'stockIndex' }" ng-click="group='stockIndex'; change(year, period, group)">by Stock Index</li>
			</ul>
		</div>
		<div class="col-xs-12 pull-right" style="margin: 20px 0px;">
			<button class="btn btn-default btn-green btn-block" ng-click="goto('/analytics')">CLEAR BREAKDOWN FILTERS</button>
		</div>
		<div style="clear: both"></div>
	</div>
	<div class="col-right col-md-9 col-sm-8 col-xs-12">
		<div class="col-md-12">
			<h3 ng-hide="year" class="nowrap">Use of Extensions</h3>
			<h3 ng-show="year" class="nowrap">Use of Extensions Breakdown</h3>
			<div class="pull-right">
				<a href="/source/public/ExtensionPercentUsageStatsByFiscalYear" ng-hide="year" class="highlight3 pull-right">Click here to see the query that displays this chart!</a>
				<a href="/source/public/ExtensionPercentUsageStatsByDomain" ng-show="year" class="highlight3 pull-right">Click here to see the query that displays this chart!</a>
			</div>
			<div class="clearfix"></div>
			<div class="white-box">
				<div google-chart="" chart="chart" select="click(selectedItem)" style="width: 100%; height: 500px;">
				</div>
			</div>
		</div>
	</div>
</div>