<section class="container" id="blog">
    <div ng-show="loading && entries.length == 0">
        <h1 class="text-center">Loading</h1>
        <h1 class="text-center"><i class="icon-spinner icon-spin icon-large"></i></h1>
    </div>
    <div ng-show="!loading && entries.length == 0">
        <ng-include src="'/views/404.html'"></ng-include>
    </div>
    <div>
        <ol class="breadcrumb row" ng-show="idFilter !== null && entries.length > 0">
            <li><a href="/blog">Blog</a></li>
            <li class="active" ng-bind="entries[0].title"></li>
        </ol>
        <!--ol class="breadcrumb row visible-xs visible-sm hidden-lg hidden-md" ng-show="idFilter !== null && entries.length > 0">
            <li><a href="/blog">Blog</a></li>
        </ol-->
    </div>
    
    <div class="row" ng-show="!loading && entries.length == 1">
        <h2 ng-bind="entries[0].title"></h2>
        <p class="date">Posted {{formatDate(entries[0].updated)}} ago</p>
        <div class="entry" entry></div>
        <div id="disqus" class="disqus" disqus>
            <div id="disqus_thread" class="content-panel-content"></div>
        </div>
    </div>
    
    <div ng-show="!loading && entries.length > 1">
        <div ng-repeat="entry in entries" style="margin-top: 30px;">
            <div class="row">
                <div class="col-lg-4">
                    <h3><a ng-href="/blog{{entry.id}}" ng-bind="entry.title"></a></h3>
                    <p class="date">Posted {{formatDate(entry.updated)}} ago</p>
                </div>
                <div class="col-lg-8">
                    <p ng-bind="entry.summary"></p>
                    <p><a ng-href="/blog{{entry.id}}">Read more →</a></p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
