<div id="comparison-components">
    <div class="menu">
        <div class="btn-group">
            <a class="btn btn-default" ng-class="{ active: subActive === 'compare' }" ng-href="/comparison?{{wwwFormUrlencoded(selection)}}"><i class="fa fa-home"></i></a>
            <a class="btn btn-default" ng-class="{ active: subActive === 'information' }" ng-href="/comparison/information?{{wwwFormUrlencoded(selection)}}"><i class="fa fa-th-large"></i> Basic Financial Information</a>
            <a class="btn btn-default" ng-class="{ active: subActive === 'search' }" ng-href="/comparison/search?{{wwwFormUrlencoded(selection)}}"><i class="fa fa-search"></i> Search Facts</a>
            <a class="btn btn-default" ng-class="{ active: subActive === 'components' }" ng-href="/comparison/components?{{wwwFormUrlencoded(selection)}}"><i class="fa fa-quote-left"></i> Search Components</a>
        </div>
    </div>

    <div class="cols row">
        <div class="col-left col-md-3 col-sm-4 col-xs-12 selection" ng-include="'/views/comparison-filter.html'"></div>
        <div class="col-right col-md-9 col-sm-8 col-xs-12">
        
    <div class="export">
        <div class="row">
            <div class="col-lg-3">
                <span class="tag tag-primary" ng-if="results.length"><span ng-bind="Statistics.NumComponents | number"></span> Hits</span>
                <span class="tag" ng-if="results.length"><span ng-bind="Statistics.TotalNumArchives | number"></span> Components</span>
            </div>
            <div class="col-lg-6">
                <h2 class="text-center">Search components by Disclosures</h2>
            </div>
            <div class="col-lg-3">
                <span class="dropdown pull-right" ng-if="results.length">
                    <a class="dropdown-toggle btn btn-primary"><i class="fa fa-cloud-download"></i> Export</a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="{{getUrl('json')}}" download="comparison-components.json" target="_blank">JSON</a></li>
                        <li><a ng-href="{{getUrl('xml')}}" download="comparison-components.xml" target="_blank">XML</a></li>
                        <li><a ng-href="{{getUrl('csv')}}" download="comparison-components.csv" target="_blank">CSV</a></li>
                        <li><a ng-href="{{getUrl('excel')}}" download="comparison-components.csv" target="_blank">Excel</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
            <form class="form-horizontal" id="comparison-components-searchbar" ng-submit="submit()">
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4 control-label">Disclosure</label>
                    <div class="col-lg-5 col-md-9 col-sm-8">
                        <input type="text" class="form-control" ng-model="searchDisclosure"
                          typeahead="key.name for key in disclosureNames | filter:$viewValue | limitTo: 10" typeahead-template-url='typeaheaddisclosures.html'
                           typeahead-on-select="selectDisclosure($item)">
                        <script type="text/ng-template" id="typeaheaddisclosures.html">
                            <a tabindex="-1" class="multicol">
                               <div ng-bind-html='match.model.label | typeaheadHighlight:query'></div>
                               <small ng-bind-html='"TOPIC: " + match.model.topic | typeaheadHighlight:query'></small><br>
                               <small ng-bind-html='"Name: " + match.model.name | typeaheadHighlight:query'></small>
                            </a>
                        </script>
                    </div>
                    <div class="col-lg-5 col-lg-offset-0 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4">
                        <small>Find components by disclosure.</small>
                        <a href="/disclosures"><i class="fa fa-question"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4 control-label">Report Element</label>
                    <div class="col-lg-5 col-md-9 col-sm-8">
                        <input type="text" class="form-control" ng-model="searchReportElement"
                          typeahead="key for key in reportElementNames | filter:$viewValue | limitTo: 15"
                           typeahead-on-select="selectReportElement($item)">
                    </div>
                    <div class="col-lg-5 col-lg-offset-0 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4">
                        <small>Find components by report element.</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4">
                        <button class="btn btn-primary" type="submit">GO</button>
                    </div>
                </div>
            </form>
            <div ng-if="results.length">
                <p>
                    <input type="text" class="form-control" ng-model="search" placeholder="Search components...">
                </p>
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-bordered small">
                        <thead>
                            <th>#</th>
                            <th>Entity</th>
                            <th>Accession Number</th>
                            <th>Form Type</th>
                            <th>Fiscal Period/Year</th>
                            <th>Network Label / Name</th>
                            <th>Category</th>
                            <th>Table</th>
                            <th>Disclosure Name</th>
                            <th>Go to</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in results | filter : search">
                                <td>{{$index + 1}}</td>
                                <td>{{item.RUT}}<br/><small>({{item.EntityRegistrantName}})</small></td>
                                <td>{{item.AccessionNumber}}</td>
                                <td>{{item.FormType}}</td>
                                <td>{{item.FiscalPeriod}} / {{item.FiscalYear}}</td>
                                <td>{{item.NetworkLabel}}<br/><small><span title="{{item.NetworkIdentifier}}">{{trimNetworkURL(item.NetworkIdentifier)}}</span></small></td>
                                <td>{{item.Category}}</td>
                                <td><span title="{{item.Table}}">{{trimTableURL(item.Table)}}</span></td>
                                <td>{{item.Disclosure}}</td>
                                <td class="text-center">
                                    <span class="dropdown">
                                        <a class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
                                        <ul class="dropdown-menu text-left pull-right">
                                          <li><a href="/component/{{item.AccessionNumber}}/{{item.NetworkIdentifier}}">Component Details</a></li>
                                          <li><a href="/facttable/{{item.AccessionNumber}}/{{item.NetworkIdentifier}}">Fact Table</a></li>
                                          <li><a href="/modelstructure/{{item.AccessionNumber}}/{{item.NetworkIdentifier}}">Model Structure</a></li>
                                            <li><a class="disabled">BizPivot Rendering</a></li>
                                            <li><a class="disabled">SVS Preview</a></li>
                                        </ul>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="alert alert-info" ng-if="errornoresults">
                <h4>No results found</h4>
                Here are some working examples: 
                <a href="/comparison/components?tag=DOW30&fiscalYear=2013&fiscalPeriod=FY&disclosure=BalanceSheet">Balance Sheets for DOW30 in 2013</a> or 
                <a href="/comparison/components?rut=0000104169&rut=0000021344&fiscalYear=2012&fiscalPeriod=FY&fiscalPeriod=Q3&fiscalPeriod=Q2&fiscalPeriod=Q1&reportElement=us-gaap:Assets">Components containing us-gaap:Assets of Coca Cola and Walmart throughout 2012</a>
            </div>
        </div>
    </div><!-- cols rows -->
</div>
