    <div class="menu" ng-show="cik">
        <div class="btn-group">
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/entity.html'" ng-href="/entity{{(cik?'/' + cik : '')}}">
                <i class="fa fa-home"></i> Home
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/filings.html'" ng-href="/filings{{(cik?'/' + cik : '')}}">
                <i class="fa fa-briefcase"></i> Filings
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/information.html'" ng-href="/information{{(cik?'/' + cik : '')}}">
                <i class="fa fa-sitemap"></i> Basic Financial Information
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/dashboard.html'" ng-href="/dashboard{{(cik?'/' + cik : '')}}">
                <i class="fa fa-bar-chart-o"></i> Basic Analysis
            </a>
        </div>
    </div>

<ul class="breadcrumb">
    <li class="dropdown">
        <a class="dropdown-toggle">{{EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/entity/{{cik}}">Entity Information</a></li>
            <li><a href="/filings/{{cik}}">Filings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{FiscalPeriod}} / {{FiscalYear}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/filing/{{AccessionNumber}}">Filing Details</a></li>
            <li><a href="/components/{{AccessionNumber}}">Components</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{component}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
          <li><a href="/facttable/{{AccessionNumber}}/{{result.NetworkIdentifier}}">Fact Table</a></li>
          <li><a href="/modelstructure/{{AccessionNumber}}/{{result.NetworkIdentifier}}">Model Structure</a></li>
        </ul>
    </li>
    <li></li>
</ul>
<div class="container">
	<div class="col-md-12 spaced">
        <div ng-show="result" class="white-box">
          <h3 class="highlight3">{{EntityRegistrantName}} ({{FiscalPeriod}} / {{FiscalYear}})</h3>
        <div class="scrolling">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 40%">Component ID</td><td>{{cid}}</td>
              </tr>
              <tr>
                <td>CIK</td><td>{{cik}}</td>
              </tr>
              <tr>
                <td>Accession Number</td><td>{{AccessionNumber}}</td>
              </tr>
              <tr>
                <td>Network Identifier</td><td>{{result.NetworkIdentifier}}</td>
              </tr>
              <tr>
                <td>Network Description</td><td>{{result.NetworkLabel}}</td>
              </tr>
              <tr>
                <td>Table Name</td><td>{{result.Table}}</td>
              </tr>
              <tr>
                <td>Disclosure Name</td><td>{{result.Disclosure}}</td>
              </tr>
              <tr>
                <td>Category</td><td>{{result.Category}}</td>
              </tr>
              <tr>
                <td>SubCategory</td><td>{{result.SubCategory}}</td>
              </tr>
              <tr>
                <td>Report Elements</td><td>{{result.ReportElements}}</td>
              </tr>
              <tr>
                <td>Tables</td><td>{{result.Tables}}</td>
              </tr>
              <tr>
                <td>Axis</td><td>{{result.Axis}}</td>
              </tr>
              <tr>
                <td>Members</td><td>{{result.Members}}</td>
              </tr>
              <tr>
                <td>LineItems</td><td>{{result.LineItems}}</td>
              </tr>
              <tr>
                <td>Concepts</td><td>{{result.Concepts}}</td>
              </tr>
              <tr>
                <td>Abstracts</td><td>{{result.Abstracts}}</td>
              </tr>
            </tbody>
          </table>
		  </div>
          <div class="white-box-footer" style="padding: 15px;">
            <a href="/facttable/{{cid}}">Fact Table</a> |
            <a href="/modelstructure/{{cid}}">Model Structure</a>
          </div>
        </div>
          <div class="col-md-12 text-right" ng-show="result">
            Data as: <a href="{{API_URL}}/_queries/public/api/components.jq?format=json&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="{{cid}}.json">JSON</a>,
            <a href="{{API_URL}}/_queries/public/api/components.jq?format=xml&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" downlaod="{{cid}}.xml">XML</a>,
            <a href="{{API_URL}}/_queries/public/api/components.jq?format=csv&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="{{cid}}.csv">CSV</a>,
            <a href="{{API_URL}}/_queries/public/api/components.jq?format=csv&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="{{cid}}.csv">Excel</a>
          </div>
	</div>
</div>



