<div class="topbar"></div>
<div class="row">
	<div class="col-md-12">
        <div class="text-center" style="padding-bottom: 5px" ng-show="results">
          <h3>Components for {{EntityRegistrantName}} ({{AccessionNumber}})</h3>
        </div>
        <div ng-show="results">
          <input type="text" class="form-control" ng-model="search" placeholder="Type here to search..."/>
		  <div class="table-responsive">
          <table class="table table-condensed table-striped">
              <thead>
              <th>#</th>
              <th>Network Label / Name</th>
              <th>Category</th>
              <th>Subcategory (Level)</th>
              <th>Table</th>
              <th>Disclosure Name</th>
              <th>Actions</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in results | filter : search">
                  <td>{{$index + 1}}</td>
                  <td>{{item.NetworkLabel}}<br/><small><span title="{{item.NetworkIdentifier}}">{{trimNetworkURL(item.NetworkIdentifier)}}</span></small></td>
                  <td>{{item.Category}}</td>
                  <td>{{item.SubCategory}}</td>
                  <td><span title="{{item.Table}}">{{trimTableURL(item.Table)}}</span></td>
                  <td>{{item.Disclosure}}</td>
                  <td class="text-center">
                    <span class="dropdown">
                      <a href="javascript://" class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
                      <ul class="dropdown-menu text-left pull-right">
                        <li><a href="/facttable/{{item.ComponentId}}">Fact Table</a></li>
                      </ul>
                    </span>
                  </td>
                </tr>
              </tbody>
          </table>
		  </div>
          <div class="text-right">
            All data as:
            <a href="{{API_URL}}/_queries/public/api/components.jq?format=json&_method=POST&aid={{AccessionNumber}}{{(token?'&token=' + token : '')}}" download="components-{{AccessionNumber}}.json" target="_blank">JSON</a>,
            <a href="{{API_URL}}/_queries/public/api/components.jq?format=xml&_method=POST&aid={{AccessionNumber}}{{(token?'&token=' + token : '')}}" download="components-{{AccessionNumber}}.xml" target="_blank">XML</a>,
            <a href="{{API_URL}}/_queries/public/api/components.jq?format=csv&_method=POST&aid={{AccessionNumber}}{{(token?'&token=' + token : '')}}" download="components-{{AccessionNumber}}.csv" target="_blank">CSV</a>,
            <a href="{{API_URL}}/_queries/public/api/components.jq?format=excel&_method=POST&aid={{AccessionNumber}}{{(token?'&token=' + token : '')}}" download="components-{{AccessionNumber}}.csv" target="_blank">Excel</a>
          </div>
        </div>
	</div>
</div>



