<div ng-controller="ComparisonFilterCtrl" ng-show="selection">
    <h4 class="nowrap">Comparison filter</h4>
    <div class="clearfix">
        <div class="col-xs-12">
            <h6 class="nowrap">ENTITIES OR GROUPS OF ENTITIES</h6>
            <div class="alert alert-success" ng-repeat="t in selection.tag">
                <a class="close" ng-click="selection.tag.splice($index, 1)">&times;</a>
                {{t}}
            </div>
            <div class="alert alert-info" ng-repeat="e in selection.entity">
                <a class="close" ng-click="selection.entity.splice($index, 1)">&times;</a>
                {{e.name}}
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12">
            <h6 class="nowrap">FISCAL YEARS</h6>
            <div class="alert alert-danger" ng-repeat="y in selection.year">
                <a class="close" ng-click="selection.year.splice($index, 1)">&times;</a>
                {{y}}
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12">
            <h6 class="nowrap">FISCAL PERIODS</h6>
            <div class="alert alert-warning" ng-repeat="p in selection.period">
                <a class="close" ng-click="selection.period.splice($index, 1)">&times;</a>
                {{p}}
            </div>
        </div>  
    </div>
    <div class="clearfix customize" style="padding: 15px 10px; border-top: 1px solid gainsboro; margin: 20px -10px;">
        <a class="highlight3 pull-right" ng-click="reset()" href="javascript://">RESET</a>
        <h4 class="nowrap">Customize filter</h4>
        <div class="clearfix">
            <div class="col-xs-12">
                <h6 class="nowrap">ADD ENTITY</h6>
                <input class="form-control" type="text" ng-model="name" typeahead-on-select="selectEntity($item)"
                       placeholder="Search for an entity..."
                       typeahead-template-url="typeaheadmulti.html"
                       typeahead="entity for entity in entities | filter:$viewValue | limitTo:8">
                <script type="text/ng-template" id="typeaheadmulti.html">
                <a href="javascript://" tabindex="-1" class="multicol">
                   <div ng-bind-html='match.model.name | typeaheadHighlight:query'></div>
                   <small ng-bind-html='"CIK: " + match.model.cik + (match.model.tickers[0] ? ", Ticker: " + match.model.tickers[0] : "") | typeaheadHighlight:query'></small>
                </a>
                </script>
            </div>
        </div>
        <div class="clearfix" style="padding: 15px 10px; border-top: 1px solid gainsboro; margin: 20px -10px;">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6 class="nowrap">ADD FISCAL YEAR</h6>
                <ul class="selector" style="height: 97px">
                    <li ng-repeat="y in years" ng-class="{ selected: (selection.year.indexOf(y) >= 0) }" ng-click="(selection.year.indexOf(y) >= 0 ? selection.year.splice(selection.year.indexOf(y), 1) : selection.year.push(y))">{{y}}</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6 class="nowrap">ADD FISCAL PERIOD</h6>
                <ul class="selector" style="height: 97px">
                    <li ng-repeat="p in periods" ng-class="{ selected: (selection.period.indexOf(p) >= 0) }" ng-click="(selection.period.indexOf(p) >= 0 ? selection.period.splice(selection.period.indexOf(p), 1) : selection.period.push(p))">{{p}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>