<div class="topbar text-center">
    <div class="btn-group">
      <button type="button" class="btn btn-xs" ng-model="section" btn-radio="'about'" ng-click="goto('/company/about')">About</button>
      <button type="button" class="btn btn-xs" ng-model="section" btn-radio="'team'" ng-click="goto('/company/team')">Team</button>
      <button type="button" class="btn btn-xs" ng-model="section" btn-radio="'press'" ng-click="goto('/company/press')">Press</button>
      <button type="button" class="btn btn-xs" ng-model="section" btn-radio="'jobs'" ng-click="goto('/company/jobs')">Jobs</button>
      <button type="button" class="btn btn-xs" ng-model="section" btn-radio="'contact'" ng-click="goto('/company/contact')">Contact</button>
    </div>
</div>
<section class="container" id="company">
    <div class="header">
        <h1>28msec &#8208; The Information Agility Company</h1>
        <p>Information processing as a commodity.</p>
    </div>
  <div ng-switch on="section" ng-animate="{ enter: 'section-enter' }" id="section">
    <section ng-switch-when="team">
      <h2 class="text-center">Query Scientists</h2>
      <div class="text-center row query-scientists" style="margin-bottom: 40px;">
        <div class="col-lg-4">
          <div id="m" class="team"></div>
          <h4 class="text-center">Dr. Matthias Brantner - CTO</h4>
          <h4 class="text-center"><a href="mailto:m@28.io">m@28.io</a> <a href="http://www.linkedin.com/in/mbrantner" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
          <!--p>
          Matthias is passionate about all kinds of query optimization problems. He contributed to the development of one of the first research XML databases and query processors for semi-structured data. While working in academia and industry, Matthias published a variety of papers on the general topic of query processing and optimization. With one of the topics, he won the German doIT Software-Award.
          He studied Information Systems at the University of Mannheim and acquired a PhD based on his research on "Rewriting Declarative Query Language".
          </p-->
        </div>
        <div class="col-lg-4">
          <div id="d" class="team"></div>
          <h4>Dennis Knochenwefel</h4>
          <h4><a href="mailto:d@28.io">d@28.io</a> <a href="http://ch.linkedin.com/pub/dennis-knochenwefel/19/332/375" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
        </div>
        <div class="col-lg-4">
          <div id="w" class="team"></div>
          <h4>William Candillon</h4>
          <h4><a href="mailto:w@28.io">w@28.io</a> <a href="http://ch.linkedin.com/in/wcandillon" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a> <a href="http://www.twitter.com/wcandillon" target="_blank" class="twitter"><i class="icon-twitter-sign"></i></a></h4>
        </div>
        <div class="col-lg-4">
          <div id="a" class="team"></div>
          <h4>Alexander Kreutz</h4>
          <h4><a href="mailto:a@28.io">a@28.io</a> <a href="http://www.linkedin.com/pub/alexander-kreutz/74/469/507/en" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
        </div>
        <div class="col-lg-4">
          <div id="g" class="team"></div>
          <h4>Dr. Ghislain Fourny</h4>
          <h4><a href="mailto:g@28.io">g@28.io</a> <a href="http://ch.linkedin.com/in/ghislainfourny" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
        </div>
        <div class="col-lg-4">
          <div id="f" class="team"></div>
          <h4>Dr. Federico Cavalieri</h4>
          <h4><a href="mailto:f@28.io">f@28.io</a> <a href="http://www.linkedin.com/pub/federico-cavalieri/19/785/9b2" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
        </div>
        <div class="col-lg-4">
          <div id="p" class="team"></div>
          <h4>Paul Lucas</h4>
          <h4><a href="mailto:paul@28.io">paul@28.io</a> <a href="http://www.linkedin.com/in/pauljaylucas" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
        </div>
    </div> 
    <div class="row">
        <hr class="soften" />
        <h2 class="text-center">Business Development</h2>
        <div class="col-lg-6">
          <div id="e" class="team"></div>
          <h4 class="text-center">Eric Kish - CEO</h4>
          <h4 class="text-center"><a href="mailto:e@28.io">e@28.io</a> <a href="http://www.linkedin.com/in/erickish" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
          <!--p>
Eric uses his diversified range of technology, engineering, marketing, sales and management experience to manage 28msec.
During his nearly 20 year career as CEO, Eric has been leading high-growth organizations to become successful businesses.
Prior to 28msec Eric served as CEO of B2B SaaS businesses, after a highly successful career as a private equity backed turnaround CEO in a wide range of industries like energy and retail.
He holds a Masters in Business from Stanford Business School, an advanced executive certificate in Strategy and Innovation from MIT and a masters in Electrical engineering from Bucharest Politechnics
          </p-->
        </div>
          <div class="col-lg-6">
            <div id="wolfram" class="team"></div>
            <h4 class="text-center">Wolfram Willuhn</h4>
            <h4 class="text-center"><a href="mailto:wolfram@28.io">wolfram@28.io</a> <a href="http://www.linkedin.com/in/wolframwilluhn" target="_blank" class="linkedin"><i class="icon-linkedin-sign"></i></a></h4>
          
          </div>
      </div>
        
      <hr class="soften" />
      <h2 class="text-center">Investors &amp; Advisors</h2>
      <div class="row">
        <div class="col-lg-6">
          <div id="r" class="team"></div>
          <h4 class="text-center">Roger Bamford</h4>
          <p>
Roger Bamford is one of the founding members of Oracle's database team and has been with Oracle since 1984. He was the lead for Oracle's relational database management system version 6 and is known as the founding father of Oracle Real Application Clusters and Oracle's grid products.
Bamford currently heads the Advanced Research and Development team focused on distributed and parallel computing.
In his current role, Bamford provides overall architectural leadership to the flagship database product, including XML, XQuery, and event processing technologies.
Throughout his career, Bamford has been responsible for many of the key innovations in relational database management systems. He has more than 40 patents on databases, and has presented and has been published in numerous international conferences.
Bamford holds a BS in computer science from Massachusetts Institute of Technology and an MS in electrical engineering from Stanford University.</p>
        </div>
          <div class="col-lg-6">
          <div id="donald" class="team"></div>
          <h4 class="text-center">Prof. Donald Kossmann</h4>
          <p>Donald Kossmann is a professor for Computer Science at ETH Zurich (Switzerland). He received his MS in 1991 from the University of Karlsruhe and completed his PhD in 1995 at the Technical University of Aachen. After that, he held positions at the University of Maryland, the IBM Almaden Research Center, the University of Passau, the Technical University of Munich, and the University of Heidelberg. He is a former associate editor of ACM Transactions on Databases and ACM Transactions on Internet Technology. He is an ACM fellow, a member of the board of trustees of the VLDB endowment, and was the program committee chair of the ACM SIGMOD Conf., 2009. He is a co-founder of i-TV-T (1998), XQRL Inc. (acquired by BEA in 2002), and 28msec Inc. (2007). His research interests lie in the area of databases and information systems.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div id="dana" class="team"></div>
          <h4 class="text-center">Dr. Daniela Florescu</h4>
          <p>
Dr. Florescu is an expert in query languages and query processing, focusing on semi-structured data. She spent 20 years in
various roles, researcher (ATT Research, IBM, INRIA- the French National Research in Computer Science), investor and entrepreneur
(XQRL, 28msec), professor and lecturer (University of Paris VI, Stanford), as well as contributor to small and large companies
(Oracle, BEA). She is the author of XQuery, the standard XML Query language, and JSONiq- the JSON query language. She is currently a
software architect at Oracle, managing the Zorba open source team and delivering the world's first semi-structured data processing
platform.
            </p>
        </div>
      </div>
    </section>
    <section ng-switch-when="press" id="press">
      <!--h1 class="text-center">28msec in the News</h1-->
      <div class="row">   
        <div class="col-lg-12">
          <h3 class="text-center">Media Contact</h3>
          <h4 class="text-center">
           (650) 521-5279<br />
           <a href="mailto:press@28.io">press@28.io</a>  
          </h4> 
        </div>
      </div>
      <div class="row">
        <ul class="list-unstyled thumbnails">
          <li class="col-md-6">
            <a href="http://www.forbes.com/sites/ilyapozin/2013/07/19/10-cloud-startups-changing-the-data-landscape/" target="_blank" class="thumbnail forbes">
              <h4>10 Cloud Startups Changing The Data Landscape</h4>
              <p class="date">July 19, 2013</p>
              <p>While the term “cloud computing” has become trendy and perhaps overused, what many people don't realize is that it is because of cloud startups that our experience of data has become intuitive and effortless.</p>
            </a>
          </li>
          <li class="col-md-6">
            <a href="http://radar.oreilly.com/2013/07/four-short-links-4-july-2013.html" target="_blank" class="thumbnail oreilly">
              <h4>Four short links: 4 July 2013</h4>
              <p class="date">July 4, 2013</p>
              <p>JSONiq: the JSON Query Language - expressive and highly optimizable language to query and update NoSQL stores. It enables developers to leverage the same productive high-level language across a variety of NoSQL products. Implemented in Zorba, an Apache-licensed virtual machine for JSONiq and XQuery queries.</p>
            </a>
          </li>
          <li class="col-md-6">
            <a href="https://451research.com/report-short?entityId=77544" target="_blank" class="thumbnail r451">
              <h4>28msec emerges from stealth with mission to enable real­time querying of any datasoure</h4>
              <p class="date">June 21, 2013</p>
              <p>
             28msec's platform is designed to address the often complex, error­prone, tedious and slow process of extracting information from a variety of sources, including SQL databases; NoSQL engines that house information in document format; key.
              </p> </a>
          </li>
          <li class="col-md-6">
            <a href="http://www.informationweek.com/cloud-computing/platform/6-cloud-big-data-startups-to-watch/240157071?pgno=2" target="_blank" class="thumbnail informationweek">
              <h4>6 Cloud, Big Data Startups To Watch</h4>
              <p class="date">June 21, 2013</p>
              <p>
              Mocking the SQL query language as 1978 technology, CTO Matthias Brantner of startup 28msec said it's time for a more real time, more flexible and broader data type reading query language, such as open-source JSONiq.
              </p>
            </a>
          </li>
          <li class="col-md-6">
            <a href="http://techcrunch.com/2013/06/20/automation-is-the-driving-theme-in-six-cloud-startup-presentations-at-gigaom-structure/" target="_blank" class="thumbnail techcrunch">
              <h4>Automation Is The Driving Theme In Six Cloud Startup Presentations At GigaOM Structure</h4>
              <p class="date">June 20, 2013</p>
              <p>28msec: Connects to all of a company's data sources and integrates them.</p>
            </a>
          </li>
         <li class="col-md-6">
            <a href="http://gigaom.com/2013/06/11/stealth-mode-28msec-wants-to-build-a-tower-of-babel-for-databases/" target="_blank" class="thumbnail gigaom">
              <h4>28msec wants to build a Tower of Babel for databases</h4>
              <p class="date">June 11, 2013</p>
              <p>28msec is about to exit stealth mode and take the covers off its database platform that lets users query data from any source in real time.</p>
            </a>
          </li>
          <li class="col-md-6">
            <a href="http://www.infoq.com/news/2012/10/JSONiq" target="_blank" class="thumbnail infoq">
              <h4>JSONiq: The JSON Query Language</h4>
              <p class="date">October 08, 2012</p>
              <p>JSONiq is a new query language that builds upon XQuery. Like SQL or LINQ, it has syntactic support concepts such as let, for, where, group by, and select.</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section ng-switch-when="jobs">
      <h1 class="text-center">Work at 28msec</h1>
      <p class="text-center">We're looking for talented query scientists that are looking to transform the world's unstructured data into actionable information.
      <br />
      Jobs are available at our Zürich and Palo Alto offices.
      <a href="mailto:jobs@28.io">Contact us</a>.
      </p>
      <img src="/images/28msecwork2.png" class="shot" style="margin-top: 20px;" />
    </section>
    <section ng-switch-when="contact" id="contact">
      <h1 class="text-center">Get in Touch with Us</h1>
      <div class="row">
        <div class="col-lg-6">
          <p>For support related questions, drop us a line on our <a href="http://28msec.zendesk.com">Zendesk Support Channel</a>. You can also post your questions on Twitter via <a href="http://twitter.com/28msec">@28msec</a>.</p>
          <p>
          For everything else, including general questions, feedback, and suggestions, please use the form below. We would love to hear from you.
          </p>
<hr class="soften" />
<div ng-show="contacted" class="alert">
  <p>Thanks for getting in touch. We will get back to you very shortly. <button class="btn btn-green" ng-click="close()">close.</button></p>
</div>
<form role="form" ng-hide="contacted" name="contactus">
  <div class="row">
    <div class="form-group col-lg-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="" ng-model="name" required>
    </div>
    <div class="form-group col-lg-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="" ng-model="email" required>
    </div>
  </div>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" id="subject" placeholder="" ng-model="subject" required>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea id="message" class="form-control" rows="5" ng-model="message" required></textarea>
  </div>
    <button type="submit" class="btn btn-green" ng-click="submit()">Send</button>
</form>
        </div>
        <div class="col-lg-6">
          <a href="http://maps.google.com/maps?q=200+Sheridan+Avenue,+Palo+Alto,+CA,+United+States&hl=en&sll=37.0625,-95.677068&sspn=47.301626,93.076172&oq=200+Sheridan+Ave&hnear=200+Sheridan+Ave,+Palo+Alto,+Santa+Clara,+California+94306&t=m&z=16" target="_blank">
            <div class="shot palo-alto"></div>
          </a>
          <address style="margin-left: 24px;">
            <strong>Headquarters</strong><br>
            200 Sheridan Ave, Suite 307<br>
            Palo Alto, CA 94306 - USA<br>
            Phone: (650) 521-5279
          </address>
          <hr class="soften" />
          <a href="http://maps.google.com/maps?q=C%C3%A4cilienstrasse+5,+Zurich,+Switzerland&hl=en&ie=UTF8&sll=47.36865,8.539182&sspn=0.159047,0.363579&oq=5+caci,+Zurich,+Switzerland&hnear=C%C3%A4cilienstrasse+5,+Kreis+7,+8032+Z%C3%BCrich,+Switzerland&t=m&z=16" target="_blank">
            <div class="shot zurich"></div>
          </a>
          <address style="margin-left: 24px;">
            <strong>Zürich Office</strong><br>
            Cäcilienstr. 5<br>
            Zürich 8032 - Switzerland<br>
            Phone: +41 44 500 25 04
          </address>          
        </div>
      </div>
    </section>
    <section ng-switch-default> 
      <h2 class="text-center">With Big Data comes Big Queries.</h2>
      <img src="/images/productshot.png" class="shot" />
      <h3>Our Mission</h3>
      <p>
        28msec delivers Information Agility via an Information Processing Platform that quickly extracts data out of ANY source and transforms that data into a valuable commodity – actionable information.
        Sold as a service or software, 28msec’s platform enables businesses to extract value from their data and get to market faster than their competitors.
      </p>
    </section>
  </div>
</section>