<div class="std-container">
        <div class="text-center" ng-show="result.length">
          <h2>{{name}}</h2>
        </div>
        <div ng-show="result.length">
          <input type="text" class="form-control" ng-model="search" placeholder="Type here to search..." ng-click="focused=true;"/>
		      <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Concept</th>
                <th>Label</th>
                <th>Target Concepts</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in result | filter:search | orderBy:'name':false">
                  <td>{{item.name}}</td>
                  <td>{{item.label}}</td>
                  <td><small ng-repeat="v in item.values track by $index">{{v}}<br ng-if="!$last"></small></td>
                </tr>
              </tbody>
            </table>
		      </div>
        <div class="text-right">
          Data as: <a href="{{API_URL}}/_queries/public/api/concept-map.jq.json?name={{name}}{{(token?'&token=' + token : '')}}&_method=POST" download="{{name}}.json">JSON</a>
        </div>
      </div>
</div>



