<div class="modal-header">
    <h3 ng-bind="name"></h3>
</div>
<div class="modal-body">
<table class="table" cellpadding="2">
    <tr>
        <td style="width: 35%">CIK</td>
        <td>{{cik}}</td>
    </tr>
    <tr>
        <td>Ticker Symbol</td>
        <td>{{ticker}}</td>
    </tr>
    <tr>
        <td>Entity Registrant Name</td>
        <td>{{result.Profiles.SEC.CompanyName}}</td>
    </tr>
    <tr>
        <td>Entity Type</td>
        <td>{{result.Profiles.SEC.CompanyType}}</td>
    </tr>
    <tr>
        <td>SIC Code</td>
        <td>{{result.Profiles.SEC.SIC}}</td>
    </tr>
    <tr>
        <td>SIC Description</td>
        <td>{{result.Profiles.SEC.SICDescription}}</td>
    </tr>
    <tr>
        <td>Industry Sector</td>
        <td>{{result.Profiles.SEC.Sector}}</td>
    </tr>
    <tr>
        <td>Is a Trust</td>
        <td>{{result.Profiles.SEC.IsTrust?"Yes":"No"}}</td>
    </tr>
</table>
</div>
<div class="modal-footer">
    <a href="/entity/{{cik}}">Entity Information</a> | <a href="/filings/{{cik}}">Filings</a>
</div>