<div class="container" id="entities">
    <div>
        <h2 class="text-center">Search Entity</h2>
        <input class="form-control input-block input-lg" ng-class="{ 'fade-control': !rut }" type="text" ng-model="name" typeahead-on-select="selectEntity($item)"
		    placeholder="Search entities by name, RUT, or ticker..." ng-click="focused=true;"
            typeahead-template-url="typeaheadmulti.html"
			typeahead="entity for entity in entities | filter:$viewValue | limitTo:8">
        <script type="text/ng-template" id="typeaheadmulti.html">
            <a tabindex="-1" class="multicol">
               <div ng-bind-html='match.model.name | typeaheadHighlight:query'></div>
               <small ng-bind-html='"RUT: " + match.model.rut + (match.model.tickers[0] ? ", Ticker: " + match.model.tickers[0] : "") | typeaheadHighlight:query'></small>
            </a>
        </script>
    </div>
</div>
