<div id="entity">
    <div class="menu">
        <div class="container">
            <h4>
                {{entity.Profiles.SEC.CompanyName}}
                <small><a href="/entity">(switch entity)</a></small>
            </h4>
            <div class="btn-group">
                <a class="btn btn-default" ng-class="{ active: subActive === 'summary' }" ui-sref="root.entity.summary({ cik: cik })">
                    <i class="fa fa-home"></i> <span translate>Summary</span>
                </a>
                <a class="btn btn-default" ng-class="{ active: subActive === 'filings' }" ui-sref="root.entity.filings({ cik: cik })">
                    <i class="fa fa-briefcase"></i> <span translate>Filings</span>
                </a>
                <a class="btn btn-default"  ng-class="{ active: subActive === 'information' }" ui-sref="root.entity.information({ cik: cik })">
                    <i class="fa fa-sitemap"></i> <span translate>Basic Financial Information</span>
                </a>
                <a class="btn btn-default"  ng-class="{ active: subActive === 'dashboard' }" ui-sref="root.entity.dashboard({ cik: cik })">
                    <i class="fa fa-bar-chart-o"></i> <span translate>Basic Analysis</span>
                </a>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>
