<div class="modal-header">
    <h3 ng-bind="name"></h3>
</div>
<div class="modal-body">
<table class="table" cellpadding="2">
    <tr>
        <td style="width: 35%">RUT</td>
        <td>{{rut}}</td>
    </tr>
    <tr>
        <td translate>Ticker Symbol</td>
        <td>{{ticker}}</td>
    </tr>
    <tr>
        <td>Entity Registrant Name</td>
        <td>{{result.Profiles.SVS.CompanyName}}</td>
    </tr>
</table>
</div>
<div class="modal-footer">
    <a href="/entity/{{rut}}">Entity Information</a> | <a href="/filings/{{rut}}">Filings</a>
</div>
