<div class="row">
	<div class="col-md-12">
        <div class="text-center" style="padding-bottom: 5px" ng-show="result">
          <h3>{{result.Profiles.SEC.CompanyName}}</h3>
        </div>
        <div ng-show="result">
		  <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td class="success col-sm-4">CIK</td><td>{{result._id.substring(23)}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">Ticker Symbol</td><td>{{result.Profiles.SEC.Tickers[0]}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">Entity Registrant Name</td><td>{{result.Profiles.SEC.CompanyName}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">Entity Type</td><td>{{result.Profiles.SEC.CompanyType}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">SIC Code</td><td>{{result.Profiles.SEC.SIC}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">SIC Description</td><td>{{result.Profiles.SEC.SICDescription}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">Industry Sector</td><td>{{result.Profiles.SEC.Sector}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">Is a Trust</td><td>{{result.Profiles.SEC.IsTrust?"Yes":"No"}}</td>
              </tr>
              <tr>
                <td class="success col-sm-4">SEC Submissions</td><td><a href="/filings/{{result._id.substring(23)}}">Submissions</a></td>
              </tr>
            </tbody>
          </table>
		  </div>
          <div class="text-right">
            Data as: <a href="{{API_URL}}/_queries/public/api/entities.jq.json?_method=POST&cik={{cik}}{{(token?'&token=' + token : '')}}" download="{{cik}}.json">JSON</a>,
            <a href="{{API_URL}}/_queries/public/api/entities.jq.xml?_method=POST&cik={{cik}}{{(token?'&token=' + token : '')}}" downlaod="{{cik}}.xml">XML</a>,
            <a href="{{API_URL}}/_queries/public/api/entities.jq.text?_method=POST&cik={{cik}}{{(token?'&token=' + token : '')}}" download="{{cik}}.csv">CSV</a>
          </div>
        </div>
	</div>
</div>


