<div>
<ul class="breadcrumb">
    <li class="dropdown">
        <a class="dropdown-toggle"><span translate>All Examples</span> <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="c in getCategories()" class="dropdown-submenu">
                <a>{{spacify(c)}}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="ex in examples | filter: {category: c}">
                        <a href="/example/{{ex.name}}">{{spacify(ex.name)}}</a>
                    </li>
                </ul>
          </li>
        </ul>
    </li>
    <li class="dropdown" ng-show="category">
        <a class="dropdown-toggle">{{spacify(category)}} <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="ex in examples | filter: {category: category}">
                <a href="/example/{{ex.name}}">{{spacify(ex.name)}}</a>
            </li>
        </ul>
        </ul>
    </li>
</ul>
<div class="std-container">
	<div>
        <div>
          <div class="container" ng-show="data">
                <span class="dropdown pull-right">
                    <a class="dropdown-toggle" translate>Related Examples</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ex in examples | filter: {category: category}">
                            <a href="/example/{{ex.name}}">{{spacify(ex.name)}}</a>
                        </li>
                    </ul>
                    </ul>
                </span>
              <h3>{{spacify(example.name)}}</h3>
              <h6>{{example.description}}</h6>
              <div id="api">
                <pre ng-bind="getUrl(null)"></pre>
              </div>
              <table class="table table-condensed small">
                <tbody>
                  <tr ng-repeat="(key, value) in data" ng-show="(key!='FactTable' && key!='Comment')"><td>{{key}}</td><td>{{value}}</td></tr>
                </tbody>
              </table>
          </div>
          <div ng-show="data">
              <p>  
                <input type="text" class="form-control" ng-model="search" placeholder="Type here to search...">
              </p>
                  <div class="table-responsive">
                      <table class="table table-condensed table-justcolumns small">
                          <thead>
                            <th>#</th>
                            <th ng-repeat="key in columns">{{key}}</th>
                            <th translate>Value</th>
                            <th translate>Unit</th>
                            <th translate>Decimals</th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in data.FactTable | filter : search">
                              <td>{{$index + 1}}</td>
                              <td ng-repeat="key in columns" class="nowrap">
                                <span ng-show="$index==entityIndex">{{item.Aspects[key]}} <span ng-show="item.EntityRegistrantName">({{item.EntityRegistrantName}})</span></span>
                                <span ng-show="$index!=entityIndex">{{item.Aspects[key]}}</span>
                              </td>
                              <td ng-show="(item.Type == 'NumericValue')" style="text-align: right">{{showNumber(item.Value)}}</td>
                              <td ng-show="(item.Type != 'NumericValue' && !isBlock(item.Value))">{{item.Value}}</td>
                              <td ng-show="(item.Type != 'NumericValue' && isBlock(item.Value))"><a ng-click="showText(item.Value)">Show Text</a></td>
                              <td>{{item.Unit=='xbrl:NonNumeric'?"":item.Unit}}</td>
                              <td>{{item.Decimals}}</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
            </div>
      </div>
      <div class="text-right" ng-show="data">
        <span translate>All data as:</span>
          <a href="{{getUrl('json')}}" download="{{example}}.json" target="_blank" translate>JSON</a>,
          <a href="{{getUrl('xml')}}" download="{{example}}.xml" target="_blank" translate>XML</a>,
          <a href="{{getUrl('csv')}}" download="{{example}}.csv" target="_blank" translate>CSV</a>,
          <a href="{{getUrl('excel')}}" download="{{example}}.csv" target="_blank" translate>Excel</a>
        </div>
	</div>
</div>
</div>
