<div>
<ul class="breadcrumb">
    <li class="dropdown">
        <a class="dropdown-toggle">All Examples <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="c in getCategories()" class="dropdown-submenu">
                <a>{{spacify(c)}}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="ex in examples | filter: {category: c}">
                        <a href="/example/{{ex.name}}">{{spacify(ex.name)}}</a>
                    </li>
                </ul>
          </li>
        </ul>
    </li>
    <li class="dropdown" ng-if="category">
        <a class="dropdown-toggle">{{spacify(category)}} <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="ex in examples | filter: {category: category}">
                <a href="/example/{{ex.name}}">{{spacify(ex.name)}}</a>
            </li>
        </ul>
        </ul>
    </li>
</ul>
<div class="std-container">
	<div>
        <div>
          <div class="container" ng-if="data">
                <span class="dropdown pull-right">
                    <a class="dropdown-toggle">Related Examples</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ex in examples | filter: {category: category}">
                            <a href="/example/{{ex.name}}">{{spacify(ex.name)}}</a>
                        </li>
                    </ul>
                    </ul>
                </span>
              <h3>{{spacify(example.name)}}</h3>
              <h6>{{example.description}}</h6>
              <div id="api">
                <pre ng-bind="getUrl(null)"></pre>
              </div>
              <table class="table table-condensed small">
                <tbody>
                  <tr ng-repeat="(key, value) in data" ng-if="(key!='FactTable' && key!='Comment')"><td>{{key}}</td><td>{{value}}</td></tr>
                </tbody>
              </table>
          </div>
          <div ng-if="data">
                
              <input type="text" class="form-control" ng-model="search" placeholder="Type here to search...">
                  <div>
                      <table class="table table-striped table-condensed small">
                          <thead>
                            <th>#</th>
                            <th ng-repeat="key in enumerateKeys(data.FactTable[0].Aspects)">{{key}}</th>
                            <th>Value</th>
                            <th>Unit</th>
                            <th>Decimals</th>
                            <th>Entity Registrant Name</th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in data.FactTable | filter : search">
                              <td>{{$index + 1}}</td>
                              <td ng-repeat="value in enumerate(item.Aspects) track by $index" class="nowrap">{{value}}</td>
                              <td ng-if="(item.Type == 'NumericValue')" style="text-align: right">{{item.Value}}</td>
                              <td ng-if="(item.Type != 'NumericValue' && !isBlock(item.Value))">{{item.Value}}</td>
                              <td ng-if="(item.Type != 'NumericValue' && isBlock(item.Value))"><a ng-click="showText(item.Value)">Show Text</a></td>
                              <td>{{item.Unit=='xbrl:NonNumeric'?"":item.Unit}}</td>
                              <td>{{item.Decimals}}</td>
                              <td>{{item.EntityRegistrantName}}</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
            </div>
      </div>
      <div class="col-md-12 text-right" ng-show="data">
        All data as:
          <a href="{{getUrl('json')}}" download="{{example}}.json" target="_blank">JSON</a>,
          <a href="{{getUrl('xml')}}" download="{{example}}.xml" target="_blank">XML</a>,
          <a href="{{getUrl('csv')}}" download="{{example}}.csv" target="_blank">CSV</a>,
          <a href="{{getUrl('excel')}}" download="{{example}}.csv" target="_blank">Excel</a>
        </div>
	</div>
</div>
</div>
