    <div class="menu" ng-show="cik">
        <div class="btn-group">
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/entity.html'" ng-href="/entity{{(cik?'/' + cik : '')}}">
                <i class="fa fa-home"></i> Home
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/filings.html'" ng-href="/filings{{(cik?'/' + cik : '')}}">
                <i class="fa fa-briefcase"></i> Filings
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/information.html'" ng-href="/information{{(cik?'/' + cik : '')}}">
                <i class="fa fa-sitemap"></i> Basic Financial Information
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/dashboard.html'" ng-href="/dashboard{{(cik?'/' + cik : '')}}">
                <i class="fa fa-bar-chart-o"></i> Basic Analysis
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/search.html'" ng-href="/search{{(cik?'/' + cik : '')}}">
                <i class="fa fa-search"></i> Search Facts
            </a>
        </div>
    </div>

<ul class="breadcrumb">
    <li class="dropdown">
        <a class="dropdown-toggle">{{EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/entity/{{cik}}">Entity Information</a></li>
            <li><a href="/filings/{{cik}}">Filings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{FiscalPeriod}} / {{FiscalYear}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/filing/{{AccessionNumber}}">Filing Details</a></li>
            <li><a href="/components/{{AccessionNumber}}">Components</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{component}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/component/{{cid}}">Component Details</a></li>
            <li><a href="/facttable/{{cid}}">Fact Table</a></li>
            <li><a href="/modelstructure/{{cid}}">Model Structure</a></li>
        </ul>
    </li>
    <li></li>
</ul>

<div class="row">
	<div class="col-md-12">
        <div ng-show="Label" class="spaced">
          <div class="container white-box">
              <h3 class="highlight3">Fact Table for {{EntityRegistrantName}} ({{FiscalPeriod}} / {{FiscalYear}})</h3>
              <table class="table table-condensed small">
                <tbody>
                  <tr><td>Network:</td><td>{{Label}}</td></tr>
                  <tr><td>Table:</td><td>{{NetworkIdentifier}}</td></tr>
                  <tr><td>Accession Number:</td><td><a href="/filing/{{AccessionNumber}}">{{AccessionNumber}}</a></td></tr>
                  <tr><td>Form Type:</td><td>{{FormType}}</td></tr>
                  <tr><td>Accepted:</td><td>{{AcceptanceDatetime}}</td></tr>
                </tbody>
              </table>
          </div>
          <input type="text" class="form-control" ng-model="search" placeholder="Type here to search..."/>
          <div class="scrolling">
          <table class="table table-striped table-condensed small">
              <thead>
                <th>#</th>
                <th ng-repeat="key in enumerateKeys(data[0].Aspects)">{{key}}</th>
                <th>Value</th>
                <th>Unit</th>
                <th>Decimals</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in data | filter : search">
                  <td>{{$index + 1}}</td>
                  <td ng-repeat="value in enumerate(item.Aspects)" class="nowrap">{{value}}</td>
                  <td ng-if="(item.Type == 'NumericValue')" style="text-align: right">{{showNumber(item.Value)}}</td>
                  <td ng-if="(item.Type != 'NumericValue' && !isBlock(item.Value))">{{item.Value}}</td>
                  <td ng-if="(item.Type != 'NumericValue' && isBlock(item.Value))"><a ng-click="showText(item.Value)">Show Text</a></td>
                  <td>{{item.Unit=='xbrl:NonNumeric'?"":item.Unit}}</td>
                  <td>{{item.Decimals}}</td>
                </tr>
              </tbody>
          </table>
		  </div>
      </div>
      <div class="col-md-12 text-right" ng-show="data">
        All data as:
          <a href="{{API_URL}}/_queries/public/api/facttable.jq?format=json&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="facttable-{{cid}}.json" target="_blank">JSON</a>,
          <a href="{{API_URL}}/_queries/public/api/facttable.jq?format=xml&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="facttable-{{cid}}.xml" target="_blank">XML</a>,
          <a href="{{API_URL}}/_queries/public/api/facttable.jq?format=csv&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="facttable-{{cid}}.csv" target="_blank">CSV</a>,
          <a href="{{API_URL}}/_queries/public/api/facttable.jq?format=excel&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="facttable-{{cid}}.csv" target="_blank">Excel</a>
        </div>
	</div>
</div>



