<div id="filings">
<div class="menu" ng-show="cik">
    <div class="btn-group">
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/entity.html'" ng-href="/entity{{(cik?'/' + cik : '')}}">
            <i class="fa fa-home"></i> Home
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/filings.html'" ng-href="/filings{{(cik?'/' + cik : '')}}">
            <i class="fa fa-briefcase"></i> Filings
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/information.html'" ng-href="/information{{(cik?'/' + cik : '')}}">
            <i class="fa fa-sitemap"></i> Basic Financial Information
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/dashboard.html'" ng-href="/dashboard{{(cik?'/' + cik : '')}}">
            <i class="fa fa-bar-chart-o"></i> Basic Analysis
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/search.html'" ng-href="/search{{(cik?'/' + cik : '')}}">
            <i class="fa fa-search"></i> Search Facts
        </a>
    </div>
</div>
    <ul class="breadcrumb">
        <li class="dropdown">
            <a class="dropdown-toggle">{{results[0].EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
            <ul class='dropdown-menu text-left'>
                <li><a href="/entity/{{cik}}">Entity Information</a></li>
                <li><a href="/filings/{{cik}}">Filings</a></li>
            </ul>
        </li>
        <li></li>
    </ul>
<div class="std-container">
	<div>
        <div class="text-center" ng-show="results">
          <h1>Filings for {{results[0].EntityRegistrantName}} ({{results[0].CIK.substr(23)}})</h1>
        </div>
        <div ng-show="results">
            <p>
                <input type="text" class="form-control" ng-model="search" placeholder="Type here to search for filings">
            </p>
		  <div class="scrolling">
           <table class="table table-striped table-condensed table-bordered">
             <thead>
             <th>#</th>
             <th>Entity Registrant Name</th>
             <th>Form</th>
             <th>Fiscal Year</th>
             <th>Fiscal Period</th>
             <th>Accepted by SEC</th>
             <th>Generator</th>
             <th>Accession Number</th>
             <th>Go to</th>
             </thead>
             <tbody>
               <tr ng-repeat="item in results | filter : search">
                 <td>{{$index + 1}}</td>
                 <td>{{item.EntityRegistrantName}}</td>
                 <td>{{item.FormType}}</td>
                 <td>{{item.FiscalYear}}</td>
                 <td>{{item.FiscalPeriod}}</td>
                 <td>{{item.Accepted}}</td>
                 <td>{{item.Generator}}</td>
                 <td><a href="/filing/{{item.AccessionNumber}}">{{item.AccessionNumber}}</a></td>
                 <td class="text-center">
                   <span class="dropdown">
                     <a class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
                     <ul class="dropdown-menu text-left pull-right">
                       <li><a href="/filing/{{item.AccessionNumber}}">Filing Details</a></li>
                       <li><a href="{{item.SECFilingPage}}">SEC Filing Page</a></li>
                       <li><a href="{{item.XBRLInstanceURL}}">XBRL Instance</a></li>
                       <li><a href="/components/{{item.AccessionNumber}}">Filing Components</a></li>
                     </ul>
                   </span>
                 </td>
               </tr>
             </tbody>
          </table>
		  </div>
        </div>
      <div class="col-md-12 text-right" ng-show="results">
        All data as:
        <a href="{{API_URL}}/_queries/public/api/filings.jq?format=json&_method=POST&cik={{cik}}{{(token?'&token=' + token : '')}}" download="filings-{{cik}}.json" target="_blank">JSON</a>,
        <a href="{{API_URL}}/_queries/public/api/filings.jq?format=xml&_method=POST&cik={{cik}}{{(token?'&token=' + token : '')}}" download="filings-{{cik}}.xml" target="_blank">XML</a>,
        <a href="{{API_URL}}/_queries/public/api/filings.jq?format=csv&_method=POST&cik={{cik}}{{(token?'&token=' + token : '')}}" download="filings-{{cik}}.csv" target="_blank">CSV</a>,
        <a href="{{API_URL}}/_queries/public/api/filings.jq?format=excel&_method=POST&cik={{cik}}{{(token?'&token=' + token : '')}}" download="filings-{{cik}}.csv" target="_blank">Excel</a>
      </div>
	</div>
</div>
</div>