<div id="filing">
<div class="menu" ng-show="cik">
    <div class="btn-group">
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/entity.html'" ng-href="/entity{{(cik?'/' + cik : '')}}">
            <i class="fa fa-home"></i> Home
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/filings.html'" ng-href="/filings{{(cik?'/' + cik : '')}}">
            <i class="fa fa-briefcase"></i> Filings
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/information.html'" ng-href="/information{{(cik?'/' + cik : '')}}">
            <i class="fa fa-sitemap"></i> Basic Financial Information
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/dashboard.html'" ng-href="/dashboard{{(cik?'/' + cik : '')}}">
            <i class="fa fa-bar-chart-o"></i> Basic Analysis
        </a>
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/search.html'" ng-href="/search{{(cik?'/' + cik : '')}}">
            <i class="fa fa-search"></i> Search Facts
        </a>
    </div>
</div>
<ul class="breadcrumb">
    <li class="dropdown">
        <a class="dropdown-toggle">{{EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/entity/{{cik}}">Entity Information</a></li>
            <li><a href="/filings/{{cik}}">Filings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{FiscalPeriod}} / {{FiscalYear}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/filing/{{AccessionNumber}}">Filing Details</a></li>
            <li><a href="/components/{{AccessionNumber}}">Components</a></li>
        </ul>
    </li>
    <li></li>
</ul>
<div class="container">
	<div class="col-md-12 spaced">
        <div ng-show="result" class="white-box">
        <h3 class="highlight3">{{EntityRegistrantName}} ({{FiscalPeriod}} / {{FiscalYear}})</h3>
        <div class="scrolling">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 40%">Accession Number</td><td>{{AccessionNumber}}</td>
              </tr>
              <tr>
                <td >CIK</td><td>{{CIK.substring(CIK.indexOf(' ') + 1)}}</td>
              </tr>
              <tr>
                <td >Entity Registrant Name</td><td>{{result.EntityRegistrantName}}</td>
              </tr>
              <tr>
                <td >Form Type</td><td>{{result.FormType}}</td>
              </tr>
              <tr>
                <td >Accepted</td><td>{{result.Accepted}}</td>
              </tr>
              <tr>
                <td >Generator</td><td>{{result.Generator}}</td>
              </tr>
              <tr>
                <td >Networks</td><td>{{result.Networks}}</td>
              </tr>
              <tr>
                <td >Report Elements</td><td>{{result.ReportElements}}</td>
              </tr>
              <tr>
                <td >Tables</td><td>{{result.Tables}}</td>
              </tr>
              <tr>
                <td >Axis</td><td>{{result.Axis}}</td>
              </tr>
              <tr>
                <td >Members</td><td>{{result.Members}}</td>
              </tr>
              <tr>
                <td >Line Items</td><td>{{result.LineItems}}</td>
              </tr>
              <tr>
                <td >Concepts</td><td>{{result.Concepts}}</td>
              </tr>
              <tr>
                <td >Abstracts</td><td>{{result.Abstracts}}</td>
              </tr>
              <tr>
                <td >Footnotes</td><td>{{result.Footnotes}}</td>
              </tr>
              <tr>
                <td >Facts</td><td>{{result.Facts}}</td>
              </tr>
              <tr>
                <td >Extension Facts</td><td>{{result.ExtensionFacts}}</td>
              </tr>
              <tr>
                <td >Extension Concepts</td><td>{{result.ExtensionConcepts}}</td>
              </tr>
              <tr>
                <td >Extension Abstracts</td><td>{{result.ExtensionAbstracts}}</td>
              </tr>
            </tbody>
          </table>
		  </div>
          <div class="white-box-footer" style="padding: 15px;">
            <a href="/components/{{AccessionNumber}}">Components</a> | 
            <a href="{{result.SECFilingPage}}" target="_blank">SEC Filing Page</a> | 
            <a href="{{result.XBRLInstanceURL}}" target="_blank">XBRL Instance</a>
          </div>
        </div>
          <div class="col-md-12 text-right" ng-show="result">
            Data as: <a href="{{API_URL}}/_queries/public/api/filings.jq?format=json&_method=POST&aid={{aid}}{{(token?'&token=' + token : '')}}" download="{{cid}}.json">JSON</a>,
            <a href="{{API_URL}}/_queries/public/api/filings.jq?format=xml&_method=POST&aid={{aid}}{{(token?'&token=' + token : '')}}" downlaod="{{aid}}.xml">XML</a>,
            <a href="{{API_URL}}/_queries/public/api/filings.jq?format=csv&_method=POST&aid={{aid}}{{(token?'&token=' + token : '')}}" download="{{aid}}.csv">CSV</a>,
            <a href="{{API_URL}}/_queries/public/api/filings.jq?format=excel&_method=POST&aid={{aid}}{{(token?'&token=' + token : '')}}" download="{{aid}}.csv">Excel</a>
          </div>
	</div>
</div>
</div>