<div class="row">
	<div class="col-md-12">
        <div class="text-center" style="padding-bottom: 5px" ng-show="results">
          <h3>{{results[1].EntityRegistrantName}} ({{results[1].CIK.substr(23)}})</h3>
        </div>
        <div ng-show="results">
          <input type="text" class="form-control" ng-model="search" placeholder="Type here to search..."/>
		      <div class="table-responsive">
           <table class="table table-striped">
             <thead>
             <th>#</th>
             <th>Entity Registrant Name</th>
             <th>Form</th>
             <th>Fiscal Year</th>
             <th>Fiscal Period</th>
             <th>Accepted by SEC</th>
             <th>Generator</th>
             <th>Accession Number</th>
             <th>Actions</th>
             </thead>
             <tbody>
               <tr ng-repeat="item in results | filter : search">
                 <td>{{$index + 1}}</td>
                 <td>{{item.EntityRegistrantName}}</td>
                 <td>{{item.FormType}}</td>
                 <td>{{item.FiscalYear}}</td>
                 <td>{{item.FiscalPeriod}}</td>
                 <td>{{item.Accepted}}</td>
                 <td>{{item.Generator}}</td>
                 <td><a href="/components/{{item.AccessionNumber}}">{{item.AccessionNumber}}</a></td>
                 <td class="text-center">
                   <span class="dropdown">
                     <a href="javascript://" class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
                     <ul class="dropdown-menu text-left pull-right">
                       <li><a href="{{item.SECFilingPage}}">SEC Filing Page</a></li>
                       <li><a href="{{item.XBRLInstanceURL}}">XBRL Instance</a></li>
                       <li><a href="/dashboard/{{item.CIK.substr(23)}}/{{item.FiscalYear}}/{{item.FiscalPeriod}}">Fundamental Accounting Concepts</a></li>
                       <li><a href="/components/{{item.AccessionNumber}}">Components</a></li>
                     </ul>
                   </span>
                 </td>
               </tr>
             </tbody>
          </table>
		  </div>
      <div class="text-right">
        All data as: <a href="{{API_URL}}/_queries/public/filings.jq.json?cik={{cik}}" download="filings-{{cik}}.json">JSON</a>,
        <a href="{{API_URL}}/_queries/public/filings.jq.xml?cik={{cik}}" download="filings-{{cik}}.xml">XML</a>,
        <a href="{{API_URL}}/_queries/public/filings.jq.text?cik={{cik}}" download="filings-{{cik}}.csv">CSV</a>
      </div>
    </div>
	</div>
</div>


