<div style="background: #FFFFFF">
	<div class="v-center-area" style="min-height: 170px;">
		<img src="/images/bg.jpg" style="width: 100%">
		<div class="v-center-block">
			<div class="container">
				<h3 class="highlight2"><span class="magnified">The US Public Company<br>Financial Information Repository</span></h3>
				<button class="btn btn-green btn-lg magnified" ng-click="gotoId('whatis')">Learn More</button>
			</div>
		</div>
	</div>

	<div class="container text-center spaced" scroll-id="whatis">
		<div class="row">
			<h3><span class="magnified">What is SECXBRL.info?</span></h3>
		</div>
		<div class="row">
			<h4 class="col-md-10 col-md-offset-1" style="color: #727272;"><span class="magnified">A database of US public company financial information submitted to the US Securities and Exchange Commission using the global standard XBRL technical syntax</span></h4>
		</div>
	</div>

	<div class="container spaced">
		<div class="row">
			<ul class="normal">
				<li class="col-md-4 text-center">
					<img src="/images/features_1.png" style="height: 70px">
					<h3>Search and Query</h3>
					<p style="color: #A2A2A2;">
						This is an easy, fast, highly scalable and cost effective way to retrieve business reporting information stored 
					</p>
				</li>
				<li class="col-md-4 text-center">
					<img src="/images/features_2.png" style="height: 70px">
					<h3>Analytics</h3>
					<p style="color: #A2A2A2;">
						This is an easy, fast, highly scalable and cost effective way to retrieve business reporting information stored in XBRL files without the need to understand its complexity 
					</p>
				</li>
				<li class="col-md-4 text-center">
					<img src="/images/features_3.png" style="height: 70px">
					<h3>API for Developers</h3>
					<p style="color: #A2A2A2;">
						This is an easy, fast, highly scalable and cost effective way to retrieve business reporting
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div style="background: #EEEEEE">
	<div class="container text-center spaced" scroll-id="details">
		<h3>Free Access to DOW30 company information</h3>
		If you need more
		<button class="btn btn-green btn-lg" ng-click="gotologin()">Sign Up</button>
	</div>
</div>