<div class="col-md-7"> 
	Did you know that...
	<h2>XBRL is HARD?</h2>
	<br><br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	<br><br>
	<h2>We are here to help!</h2>
</div>
<div class="col-md-5"> 
	<div style="background-image: url('http://www.xbrl.io/images/1eefac51.reporting.svg'); width: 366px; height: 235px; margin: 40px;">
	</div>
	<a href="/analytics" ng-click="page='/analytics';" class="btn btn-default btn-lg btn-block">
		View XBRL Analytics
	</a>
</div>