<div id="information">

    <div class="menu" ng-show="cik">
        <div class="btn-group">
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/entity.html'" ng-href="/entity{{(cik?'/' + cik : '')}}">
                <i class="fa fa-home"></i> Home
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/filings.html'" ng-href="/filings{{(cik?'/' + cik : '')}}">
                <i class="fa fa-briefcase"></i> Filings
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/information.html'" ng-href="/information{{(cik?'/' + cik : '')}}">
                <i class="fa fa-sitemap"></i> Basic Financial Information
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/dashboard.html'" ng-href="/dashboard{{(cik?'/' + cik : '')}}">
                <i class="fa fa-bar-chart-o"></i> Basic Analysis
            </a>
        </div>
    </div>

    <div class="row cols">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div>
                <span class="pull-right" ng-show="cik"><a ng-click="openEntityDetails()">Details</a> | <a href="/entity">Switch Entity</a></span>
                <h6 class="nowrap">ENTITY</h6>
                <input class="form-control" type="text" ng-model="name" readonly>
            </div>
            <section class="row">
                <div class="col-xs-2" ng-show="cik">
                    CIK
                </div>
                <div class="col-xs-4" ng-show="cik">
                    <b>{{cik}}</b>
                </div>
                <div class="col-xs-3" ng-show="ticker">
                    Symbol
                </div>
                <div class="col-xs-3" ng-show="ticker">
                    <b>{{ticker}}</b>
                </div>
            </section>
            <section ng-show="cik" class="row">
                <div class="col-xs-6">
                    <h6 class="nowrap">FISCAL YEAR</h6>
                    <ul class="selector">
                        <li ng-repeat="y in usage" ng-class="{ selected: year==years[$index], disabled: !y.used }" ng-click="setYear(years[$index], y.used)">
                        {{years[$index]}}
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <h6 class="nowrap">FISCAL PERIOD</h6>
                    <ul class="selector">
                        <li ng-repeat="p in usage[years.indexOf(year)].periods" ng-class="{ selected: period==periods[$index], disabled: !p.used }" ng-click="setPeriod(periods[$index], p.used)">
                        {{periods[$index]}}
                        </li>
                    </ul>
                </div>
            </section>
            <div class="hidden-xs" ng-show="reports.length">
                <div>
                    <h6>FUNDAMENTAL ACCOUNTING</h6>
                    <ul class="normal">
                        <li ng-repeat="report in reports">
                            <a ng-click="showtab[$index]=true; gotoId('report' + $index)">{{report.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-8 col-xs-12">
            <div>
                <h2>Compute analytics based on information extracted from the SEC filings</h2>
                <div>
                    <div ng-repeat="report in reports" scroll-id="report{{$index}}">
                        <div>
                            <a class="pull-right close small" ng-click="gotoId('report0')"><i class="fa fa-arrow-up"></i></a>
                            <h3>
                                <a ng-click="showtab[$index]=!showtab[$index]">
                                    <i class="fa fa-caret-down" ng-show="showtab[$index]"></i>
                                    <i class="fa fa-caret-right" ng-hide="showtab[$index]"></i>
                                    {{report.name}}
                                </a>
                            </h3>

                            <div ng-show="showtab[$index]">
                                <table class="table">
                                    <thead>
                                        <th>Label</th>
                                        <th>Value</th>
                                        <th>Audit Trail</th>
                                    </thead>
                                    <cols>
                                        <col width="45%"></col>
                                        <col width="20%"></col>
                                        <col width="35%"></col>
                                    </cols>
                                    <tbody>
                                        <tr ng-repeat="item in report.items">
                                            <td style="min-width: 250px">{{item.label}}</td>
                                            <td class="nowrap" ng-class="{ 'text-right' : (item.type == 'NumericValue') }">{{item.value}}</td>
                                            <td>
                                                <a popover="{{item.auditValue}}" popover-title="{{item.auditLabel}}" popover-placement="left" popover-trigger="click" ng-if="item.auditValue">
									           {{substring(item.auditValue, 30)}}
								                </a>
                                                <span ng-if="!item.auditValue">Not Reported (Coming Soon)</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
