<div id="modelstructure">
    <div class="menu" ng-show="cik">
        <div class="btn-group">
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/entity.html'" ng-href="/entity{{(cik?'/' + cik : '')}}">
                <i class="fa fa-home"></i> Home
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/filings.html'" ng-href="/filings{{(cik?'/' + cik : '')}}">
                <i class="fa fa-briefcase"></i> Filings
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/information.html'" ng-href="/information{{(cik?'/' + cik : '')}}">
                <i class="fa fa-sitemap"></i> Basic Financial Information
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/dashboard.html'" ng-href="/dashboard{{(cik?'/' + cik : '')}}">
                <i class="fa fa-bar-chart-o"></i> Basic Analysis
            </a>
            <a class="btn btn-default" ng-model="page" btn-radio="'/views/search.html'" ng-href="/search{{(cik?'/' + cik : '')}}">
                <i class="fa fa-search"></i> Search Facts
            </a>
        </div>
    </div>
    <ul class="breadcrumb">
        <li class="dropdown">
            <a class="dropdown-toggle">{{EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
            <ul class='dropdown-menu text-left'>
                <li><a href="/entity/{{cik}}">Entity Information</a></li>
                <li><a href="/filings/{{cik}}">Filings</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle">{{FiscalPeriod}} / {{FiscalYear}} <span class="fa fa-caret-down"></span></a>
            <ul class='dropdown-menu text-left'>
                <li><a href="/filing/{{AccessionNumber}}">Filing Details</a></li>
                <li><a href="/components/{{AccessionNumber}}">Components</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle">{{component}} <span class="fa fa-caret-down"></span></a>
            <ul class='dropdown-menu text-left'>
                <li><a href="/component/{{cid}}">Component Details</a></li>
                <li><a href="/facttable/{{cid}}">Fact Table</a></li>
                <li><a href="/modelstructure/{{cid}}">Model Structure</a></li>
            </ul>
        </li>
        <li></li>
    </ul>
	<div class="std-container">
        <div ng-show="Label">
            <div class="container">
                <h2>Model Structure for {{EntityRegistrantName}} ({{FiscalPeriod}} / {{FiscalYear}})</h2>
                <table class="table table-condensed small">
                    <thead>
                        <th colspan="2">Filing</th>
                    </thead>
                    <tbody>
                        <tr><td width="30%">Accession Number</td><td><a href="/filing/{{AccessionNumber}}">{{AccessionNumber}}</a></td></tr>
                        <tr><td>Form Type</td><td>{{FormType}}</td></tr>
                        <tr><td>Accepted</td><td>{{AcceptanceDatetime}}</td></tr>
                    </tbody>
                </table>
                <table class="table table-condensed small">
                    <thead>
                        <th colspan="2">Component</th>
                    </thead>
                    <tbody>
                        <tr><td width="30%">Network</td><td>{{Label}}</td></tr>
                        <tr><td>Table</td><td>{{NetworkIdentifier}}</td></tr>
                        <tr><td>Disclosure</td><td>{{Disclosure}}</td></tr>
                    </tbody>
                </table>
            </div>
            <p>
                <input type="text" class="form-control" ng-model="search" placeholder="Type here to search..."/> 
            </p>
            <div>
                <div class="divtable small modelstructure">
                {{rowReset()}}
                <div class="line head"><span>#</span><span>Label</span><span>Object Class</span><span>Data Type</span><span>Period</span><span>Balance</span><span>Report ElementName</span></div>
                <script type="text/ng-template" id="item_line.html">{{rowIncrement()}}
                  <div class="line" ng-class="{ even: (row % 2 == 0) }"><span>{{row}}</span><span class="{{ item.Kind }}" ng-style="{ 'padding-left': getIndent(item.Level) + 'px'}">{{item.Label}}</span><span>{{item.Kind}}</span><span>{{getDataType(item.DataType)}}</span><span>{{getPeriodType(item.PeriodType)}}</span><span>{{item.Balance}}</span><span><a popover="{{item.Name}}" popover-placement="left" popover-trigger="click">{{substring(item.Name, 35)}}</a></span></div>
                  <div ng-repeat="item in item.Children | filter:search" ng-include="'item_line.html'"></div>
                </script>
                <div ng-repeat="item in data | filter:search" ng-include="'item_line.html'"></div>
              </div>
		  </div>
        </div>
      <div class="col-md-12 text-right" ng-show="Label">
        All data as:
          <a href="{{API_URL}}/_queries/public/api/modelstructure.jq?format=json&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.json" target="_blank">JSON</a>,
          <a href="{{API_URL}}/_queries/public/api/modelstructure.jq?format=xml&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.xml" target="_blank">XML</a>,
          <a href="{{API_URL}}/_queries/public/api/modelstructure.jq?format=csv&_method=POST&?cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.csv" target="_blank">CSV</a>,
          <a href="{{API_URL}}/_queries/public/api/modelstructure.jq?format=excel&_method=POST&?cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.csv" target="_blank">Excel</a>
        </div>
	</div>
</div>