<div class="topbar text-center">
    <div class="btn-group">
        <a class="btn btn-xs" ng-model="page" btn-radio="'/views/entity.html'" href="/entity/{{cik}}"><i class="icn fa fa-home"></i></a>
        <a class="btn btn-xs" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="page" href="/filings/{{cik}}"><i class="icn icn-filings"></i> Filings</a>
        <a class="btn btn-xs" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="'/views/information.html'" href="/information/{{cik}}/{{FiscalYear}}/{{FiscalPeriod}}"><i class="icn icn-analytics"></i> Basic Financial Information</a>
        <a class="btn btn-xs" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="'/views/dashboard.html'" href="/dashboard/{{cik}}"><i class="icn icn-dashboard"></i> Basic Analysis</a>
        <a class="btn btn-xs" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="'/views/search.html'" href="/search/{{cik}}/{{FiscalYear}}/{{FiscalPeriod}}"><i class="icn icn-search"></i> Search Facts</a>
    </div>
</div>
<div class="bread-crumb">
    <span class="dropdown">
        <a class="dropdown-toggle">{{EntityRegistrantName}}</a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/entity/{{cik}}">Entity Information</a></li>
            <li><a href="/filings/{{cik}}">Filings</a></li>
        </ul>
    </span>
    <i class="sep"></i>
    <span class="dropdown">
        <a class="dropdown-toggle">{{FiscalPeriod}} / {{FiscalYear}}</a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/filing/{{AccessionNumber}}">Filing Details</a></li>
            <li><a href="/components/{{AccessionNumber}}">Components</a></li>
        </ul>
    </span>
    <i class="sep"></i>
    <span class="dropdown">
        <a class="dropdown-toggle">{{component}}</a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/component/{{cid}}">Component Details</a></li>
            <li><a href="/facttable/{{cid}}">Fact Table</a></li>
            <li><a href="/modelstructure/{{cid}}">Model Structure</a></li>
        </ul>
    </span>
    <i class="sep"></i>
</div>
<div class="row">
	<div class="col-md-12">
        <div ng-show="Label" class="spaced">
          <div class="container white-box">
          <h3 class="highlight3">Model Structure for {{EntityRegistrantName}} ({{FiscalPeriod}} / {{FiscalYear}})</h3>
            <table class="table table-condensed small">
              <thead><th colspan="2">Filing</th></thead>
              <tbody>
                  <tr><td width="30%">Accession Number</td><td><a href="/filing/{{AccessionNumber}}">{{AccessionNumber}}</a></td></tr>
                  <tr><td>Form Type</td><td>{{FormType}}</td></tr>
                  <tr><td>Accepted</td><td>{{AcceptanceDatetime}}</td></tr>
              </tbody>
            </table>
            <table class="table table-condensed small">
              <thead><th colspan="2">Component</th></thead>
              <tbody>
                  <tr><td width="30%">Network</td><td>{{Label}}</td></tr>
                  <tr><td>Table</td><td>{{NetworkIdentifier}}</td></tr>
                  <tr><td>Disclosure</td><td>{{Disclosure}}</td></tr>
              </tbody>
            </table>
          </div>
          <input type="text" class="form-control" ng-model="search" placeholder="Type here to search..."/>
          <div class="scrolling">
              <div class="divtable small modelstructure">
                {{rowReset()}}
                <div class="line head"><span>#</span><span>Label</span><span>Object Class</span><span>Data Type</span><span>Period</span><span>Balance</span><span>Report ElementName</span></div>
                <script type="text/ng-template" id="item_line.html">{{rowIncrement()}}
                  <div class="line" ng-class="{ even: (row % 2 == 0) }"><span>{{row}}</span><span class="{{ item.Kind }}" ng-style="{ 'padding-left': getIndent(item.Level) + 'px'}">{{item.Label}}</span><span>{{item.Kind}}</span><span>{{getDataType(item.DataType)}}</span><span>{{getPeriodType(item.PeriodType)}}</span><span>{{item.Balance}}</span><span><a popover="{{item.Name}}" popover-placement="left" popover-trigger="focus">{{substring(item.Name, 35)}}</a></span></div>
                  <div ng-repeat="item in item.Children | filter:search" ng-include="'item_line.html'"></div>
                </script>
                <div ng-repeat="item in data | filter:search" ng-include="'item_line.html'"></div>
              </div>
		  </div>
      </div>
      <div class="col-md-12 text-right" ng-show="Label">
        All data as:
          <a href="{{API_URL}}/_queries/public/api/modelstructure-for-component.jq?format=json&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.json" target="_blank">JSON</a>,
          <a href="{{API_URL}}/_queries/public/api/modelstructure-for-component.jq?format=xml&_method=POST&cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.xml" target="_blank">XML</a>,
          <a href="{{API_URL}}/_queries/public/api/modelstructure-for-component.jq?format=csv&_method=POST&?cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.csv" target="_blank">CSV</a>,
          <a href="{{API_URL}}/_queries/public/api/modelstructure-for-component.jq?format=excel&_method=POST&?cid={{cid}}{{(token?'&token=' + token : '')}}" download="modelstructure-{{cid}}.csv" target="_blank">Excel</a>
        </div>
	</div>
</div>




