<section id="pricing" class="container">
    <div class="header">
        <h1 class="text-center" translate>Affordable Access to Financial Information</h1>
        <p class="text-center" translate>
        Complete database of U.S. public company financial information. User-friendly and affordable access.
        </p>
    </div>
    <div class="row" id="plans">
        <div class="col-sm-4 col-sm-offset-2">
            <div class="plan" id="free">
                <p class="symbol free">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-road fa-stack-1x fa-light"></i>
                    </span>
                </p>
                <h2 translate>Free</h2>
                <p class="text-center text-color" translate>Free Non-Commercial Use</p>
                <!--<div class="capacity">
                    <div>
                        <i class="fa fa-gears"></i>
                        5GB per month
                    </div>
                    <div>
                        <i class="fa fa-dashboard"></i>
                        100MB per minute
                    </div>
                  </div>-->
                <ul class="list-unstyled plus">
                    <li><i class="fa fa-check"></i> <span translate>Access to all SEC filings</span></li>
                    <li><i class="fa fa-check"></i> <span translate>UI access</span></li>
                    <li><i class="fa fa-check"></i> <span translate>API access</span></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <hr />
                <p class="text-center"><a href="/entity" class="btn btn-warning btn-lg" translate>Browse DOW30</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="plan" id="entreprise">
                <p class="symbol">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-light"></i>
                    </span>
                </p>
                <h2 translate>Enterprise</h2>
                <p class="text-center text-color" translate>Tailored to your needs</p>
                <!--<div class="capacity">
                    <div>
                        <i class="fa fa-gears"></i>
                        <span translate>Unlimited</span>
                    </div>
                    <div>
                        <i class="fa fa-dashboard"></i>
                        <span translate>Custom provisioning</span>
                    </div>
                  </div>-->
                <ul class="plus list-unstyled">
                    <li><i class="fa fa-check"></i> <span translate>Access to all SEC filings</span></li>
                    <li><i class="fa fa-check"></i> <span translate>UI access</span></li>
                    <li><i class="fa fa-check"></i> <span translate>API access</span></li>
                    <li>&nbsp;</li>
                    <li><i class="fa fa-check"></i> <span translate>Unlimited API calls</span></li>
                    <li><i class="fa fa-check"></i> <span translate>Unlimited Users</span></li>
                    <li><i class="fa fa-check"></i> <span translate>Your domain &amp; your SSL certificate</span></li>
                    <li><i class="fa fa-check"></i> <span translate>Adapt API for your sophisticated queries</span></li>
                    <li><i class="fa fa-check"></i> <span translate>Scalable processing power</span></li>
                    <li><i class="fa fa-check"></i> <span translate>Bring your own filings</span></li>
                    <li><i class="fa fa-check"></i> <span translate>Custom Reports</span></li>
                    <li><i class="fa fa-check"></i> <span translate>Support</span></li>
                </ul>
                <hr />
                <p class="text-center"><a href="mailto:hello@28.io" class="btn btn-success btn-lg" translate>Contact Us</a></p>
            </div>
        </div>
    </div>
</section>
