<section id="pricing" class="container">
    <div class="header">
        <h1 class="text-center">Affordable Access to Financial Information</h1>
        <p class="text-center">
        Complete database of U.S. public company financial information. User-friendly and affordable access.
        </p>
    </div>
    <div class="row" id="plans">
        <div class="col-md-4">
            <div class="plan" id="free">
                <p class="symbol free">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-road fa-stack-1x fa-light"></i>
                    </span>
                </p>
                <h2>Free</h2>
                <p class="text-center text-color">No account or credit card required</p>
                <!--<div class="capacity">
                    <div>
                        <i class="fa fa-gears"></i>
                        5GB per month
                    </div>
                    <div>
                        <i class="fa fa-dashboard"></i>
                        100MB per minute
                    </div>
                  </div>-->
                <ul class="list-unstyled plus">
                    <li><i class="fa fa-check"></i> Access to DOW30 filings</li>
                    <li><i class="fa fa-check"></i> UI access</li>
                    <li><i class="fa fa-check"></i> API access</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <hr />
                <p class="text-center"><a href="http://secxbrl.info/entity" class="btn btn-warning btn-lg">Browse DOW30</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="plan" id="pro">
                <p class="symbol">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-plane fa-stack-1x fa-light"></i>
                    </span>
                </p>
                <h2>Pro</h2>
                <p class="text-center text-color">$49 / month (1 month trial)</p>
                <!--<div class="capacity">
                    <div>
                        <i class="fa fa-gears"></i>
                        200GB per month
                    </div>
                    <div>
                        <i class="fa fa-dashboard"></i>
                        3GB per minute
                    </div>
                  </div>-->
                <ul class="list-unstyled plus">
                    <li><i class="fa fa-check"></i> Access to all SEC filings</li>
                    <li><i class="fa fa-check"></i> UI access</li>
                    <li><i class="fa fa-check"></i> API access</li>
                    <li>&nbsp;</li>
                    <li><i class="fa fa-check"></i> 1000 API calls per month</li>
                    <li><i class="fa fa-check"></i> One user</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <hr />
                <p class="text-center"><a href="http://secxbrl.info/auth" class="btn btn-primary btn-lg">Sign Up</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="plan" id="entreprise">
                <p class="symbol">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-light"></i>
                    </span>
                </p>
                <h2>Enterprise</h2>
                <p class="text-center text-color">Tailored to your needs</p>
                <!--<div class="capacity">
                    <div>
                        <i class="fa fa-gears"></i>
                        Unlimited
                    </div>
                    <div>
                        <i class="fa fa-dashboard"></i>
                        Custom provisioning
                    </div>
                  </div>-->
                <ul class="plus list-unstyled">
                    <li><i class="fa fa-check"></i> Access to all SEC filings</li>
                    <li><i class="fa fa-check"></i> UI access</li>
                    <li><i class="fa fa-check"></i> API access</li>
                    <li>&nbsp;</li>
                    <li><i class="fa fa-check"></i> Unlimited API calls</li>
                    <li><i class="fa fa-check"></i> Unlimited Users</li>
                    <li><i class="fa fa-check"></i> Your domain & your SSL certificate</li>
                    <li><i class="fa fa-check"></i> Adapt API for your sophisticated queries</li>
                    <li><i class="fa fa-check"></i> Scalable processing power</li>
                    <li><i class="fa fa-check"></i> Bring your own filings</li>
                    <li><i class="fa fa-check"></i> Support</li>
                </ul>
                <hr />
                <p class="text-center"><a href="mailto:hello@28.io" class="btn btn-success btn-lg">Contact Us</a></p>
            </div>
        </div>
    </div>
</section>
