<div id="search">
<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-default" ng-model="page" btn-radio="'/views/entity.html'" ng-href="/entity{{(cik?'/' + cik : '')}}">
            <i class="fa fa-home"></i> Home
        </a>
        <a class="btn btn-default" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="'/views/filings.html'" ng-href="/filings{{(cik?'/' + cik : '')}}">
            <i class="fa fa-briefcase"></i> Filings
        </a>
        <a class="btn btn-default" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="'/views/information.html'" ng-href="/information{{(cik?'/' + cik : '')}}">
            <i class="fa fa-sitemap"></i> Basic Financial Information
        </a>
        <a class="btn btn-default" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="'/views/dashboard.html'" ng-href="/dashboard{{(cik?'/' + cik : '')}}">
            <i class="fa fa-bar-chart-o"></i> Basic Analysis
        </a>
        <a class="btn btn-default" ng-class="{ 'disabled': !cik }" ng-model="page" btn-radio="'/views/search.html'" ng-href="/search{{(cik?'/' + cik : '')}}">
            <i class="fa fa-search"></i> Search Facts
        </a>
    </div>
</div>

<div class="cols fade-container">
	<div class="fade-content" ng-hide="cik || focused"></div>
	<div class="fade-panel-dashboard" ng-hide="cik || focused">
		<div class="arrow"></div>
		Search entities by business name, CIK or ticker simbol<br>
		to see information about the values of the concepts.
	</div>
    <div style="top: 30px; left: 5%; display: block; max-width: 500px; width: 90%;" class="popover bottom right fade in" ng-show="showPopover">
      <!--<div class="arrow" style="position: absolute;"></div>-->
      <div class="popover-inner">
          <a ng-click="closePopover()" class="close" style="padding: 6px;">&times;</a>
          <h3 class="popover-title">{{name}}</h3>
          <div class="popover-content">
            <table style="width: 100%" cellpadding="2">
              <tr>
                <td style="width: 35%">CIK</td><td>{{cik}}</td>
              </tr>
              <tr>
                <td>Ticker Symbol</td><td>{{ticker}}</td>
              </tr>
              <tr>
                <td>Entity Registrant Name</td><td>{{result.Profiles.SEC.CompanyName}}</td>
              </tr>
              <tr>
                <td>Entity Type</td><td>{{result.Profiles.SEC.CompanyType}}</td>
              </tr>
              <tr>
                <td>SIC Code</td><td>{{result.Profiles.SEC.SIC}}</td>
              </tr>
              <tr>
                <td>SIC Description</td><td>{{result.Profiles.SEC.SICDescription}}</td>
              </tr>
              <tr>
                <td>Industry Sector</td><td>{{result.Profiles.SEC.Sector}}</td>
              </tr>
              <tr>
                <td>Is a Trust</td><td>{{result.Profiles.SEC.IsTrust?"Yes":"No"}}</td>
              </tr>
            </table>
          </div>
          <div class="popover-footer" style="border-top: 1px dotted gainsboro; padding: 15px;">
            <a href="/entity/{{cik}}">Entity Information</a> | <a href="/filings/{{cik}}">Filings</a>
          </div>
      </div>
    </div>	
	<div class="col-left col-md-3 col-sm-4 col-xs-12">
		<div class="col-xs-12">
            <span class="pull-right" ng-show="cik"><a class="highlight3" ng-click="loadPopover()">Details</a> | <a href="/entity" class="highlight3">Switch Entity</a></span>
		    <h6 class="nowrap">ENTITY</h6>
			<input class="form-control" ng-class="{ 'fade-control': !cik }" type="text" ng-model="name" typeahead-on-select="selectEntity($item)"
				   placeholder="Search for an entity..." ng-click="focused=true;" ng-readonly="cik"
                   typeahead-template-url="typeaheadmulti.html"
				   typeahead="entity for entity in entities | filter:$viewValue | limitTo:8">
            <script type="text/ng-template" id="typeaheadmulti.html">
            <a tabindex="-1" class="multicol">
               <div ng-bind-html='match.model.name | typeaheadHighlight:query'></div>
               <small ng-bind-html='"CIK: " + match.model.cik + (match.model.tickers[0] ? ", Ticker: " + match.model.tickers[0] : "") | typeaheadHighlight:query'></small>
            </a>
            </script>
		</div>
		<div style="padding: 15px 10px;" class="clearfix">
			<div class="col-md-2 col-sm-4 col-xs-2" ng-show="cik">
				CIK
			</div>
			<div class="col-md-4 col-sm-8 col-xs-4" ng-show="cik">
                <b>{{cik}}</b>
            </div>
			<div class="col-md-3 col-sm-4 col-xs-3" ng-show="ticker">
				Symbol
			</div>
			<div class="col-md-3 col-sm-8 col-xs-3" ng-show="ticker">
				<b>{{ticker}}</b>
			</div>
		</div>
		<div style="padding: 15px 10px; border-top: 1px solid gainsboro; margin: 0px -10px;" class="clearfix" ng-show="cik">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<h6 class="nowrap">FISCAL YEAR</h6>
				<ul class="selector" style="height: 97px">
					<li ng-repeat="y in usage" ng-class="{ selected: year==years[$index], disabled: !y.used }" ng-click="setYear(years[$index], y.used)">{{years[$index]}}</li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<h6 class="nowrap">FISCAL PERIOD</h6>
				<ul class="selector" style="height: 97px">
					<li ng-repeat="p in usage[years.indexOf(year)].periods" ng-class="{ selected: period==periods[$index], disabled: !p.used }" ng-click="setPeriod(periods[$index], p.used)">{{periods[$index]}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-right col-md-9 col-sm-8 col-xs-12">
		<div class="col-md-12">
			<h3>Retrieve facts and concepts values from the SEC filings.</h3>
			<div class="white-box">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
                        <label>Concept map <a href="/concept-map/FundamentalAccountingConcepts"><i class="fa fa-question"></i></a></label>
						<select ng-model="conceptMap" ng-options="map for map in conceptMaps" class="form-control">
							<option value="">None</option>
						</select>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<label>Concept name</label>
						<input type="text" ng-model="conceptMapKey" placeholder="Type to search concept" class="form-control"
							   typeahead="key for key in conceptMapKeys | filter:$viewValue | limitTo: 20">
					</div>
				</div>
			
				<div class="row white-box-footer" ng-show="cik && year && period">
					<div class="col-md-2 col-sm-2 col-xs-3">
						<button class="btn btn-green btn-lg btn-block" class="form-control" ng-click="getValue()">GO</button>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-9">
						<h4 ng-show="factValue" class="text-right">{{factValue}} {{factUnit}}</h4>
						<div ng-bind-html="factText"></div>
						<div class="text-left wrap" ng-show="originalConcept">Audit Trail: <b>{{originalConcept}}</b></div>
						<div class="text-left wrap" ng-show="factValue || factText">View results as: 
							<a href="{{API_URL}}/_queries/public/api/facts.jq?format=json&_method=POST&token={{token}}&fiscalYear={{year}}&fiscalPeriod={{period}}&cik={{cik}}&concept={{conceptMapKey}}{{(conceptMap ? '&map=' + conceptMap : '')}}" target="_blank">JSON</a>, <a href="{{API_URL}}/_queries/public/api/facts.jq?format=xml&_method=POST&token={{token}}&fiscalYear={{year}}&fiscalPeriod={{period}}&cik={{cik}}&concept={{conceptMapKey}}{{(conceptMap ? '&map=' + conceptMap : '')}}" target="_blank">XML</a>, <a href="{{API_URL}}/_queries/public/api/facts.jq?format=text&_method=POST&token={{token}}&fiscalYear={{year}}&fiscalPeriod={{period}}&cik={{cik}}&concept={{conceptMapKey}}{{(conceptMap ? '&map=' + conceptMap : '')}}" target="_blank">CSV</a></div>
					</div>
				</div>
			</div>				
			<h3>Query History</h3>
			<div class="white-box">
				<div class="scrolling">
					<table class="table">
					<thead class="nowrap">
						<th>Company</th>
						<th>Fiscal Year<br>Fiscal Period</th>
						<th>Concept Map</th>
						<th>Concept Name</th>
						<th class="text-right">Value</th>
						<!--<th></th>-->
					</thead>
					<tbody>
						<tr ng-repeat="s in searches">
							<td class="nowrap">{{s.name}}</td>
							<td>{{s.year}}/{{s.period}}</td>
							<td>{{s.conceptMap || 'None'}}</td>
							<td><a popover="{{s.conceptMapKey}}" popover-placement="top" popover-trigger="focus">{{trimURL(s.conceptMapKey)}}</a></td>
							<td class="nowrap text-right">
								<div ng-show="s.factValue">{{s.factValue}} {{s.factUnit}}</div>
								<a ng-hide="s.factValue" ng-click="showDetails(s.factText)">View Text</a>
							</td>
							<!--<td>
								<span class="dropdown">
								 <a class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
								 <ul class="dropdown-menu text-left pull-right">
								   <li><a href="{{API_URL}}/_queries/public/api/facts.jq?format=json&_method=POST&token={{token}}&fiscalYear={{s.year}}&fiscalPeriod={{s.period}}&cik={{s.cik}}&concept={{s.conceptMapKey}}{{(s.conceptMap ? '&map=' + s.conceptMap : '')}}" target="_blank">JSON</a></li>
								   <li><a href="{{API_URL}}/_queries/public/api/facts.jq?format=xml&_method=POST&token={{token}}&fiscalYear={{s.year}}&fiscalPeriod={{s.period}}&cik={{s.cik}}&concept={{s.conceptMapKey}}{{(s.conceptMap ? '&map=' + s.conceptMap : '')}}" target="_blank">XML</a></li>
								   <li><a href="{{API_URL}}/_queries/public/api/facts.jq?format=text&_method=POST&token={{token}}&fiscalYear={{s.year}}&fiscalPeriod={{s.period}}&cik={{s.cik}}&concept={{s.conceptMapKey}}{{(s.conceptMap ? '&map=' + s.conceptMap : '')}}" target="_blank">CSV</a></li>
								 </ul>
							   </span>
							</td>-->
						</tr>
						<tr ng-hide="searches.length">
							<td class="text-center h4" colspan="5">
								No search queries were performed.
							</td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
    </div>
</div>
</div>
</div>