<div class="row" ng-controller="SearchCtrl">
	<div class="menu nav col-md-3 col-sm-4">
		<a href="/analytics">
			<i class="fa fa-book"></i> Use of Extensions
		</a>
		<a href="/dashboard">
			<i class="fa fa-bar-chart-o"></i> Company Quality Dashboard
		</a>
		<a class="active" href="/search">
			<i class="fa fa-search"></i> Search facts
		</a>
		<div>
		  Use the search feature to retreive facts values from the SEC filings.
		  You can use also concept mappings.
		</div>
	</div> 
	<div class="col-md-9 col-sm-8">
		Search page, under development
	</div>
</div>