<div class="topbar"></div>
<div class="cols">
	<div class="col-left col-md-3 col-sm-4 col-xs-12">
		<h4>Fetching Data</h4>
		<ul class="row menu">
			<li>
				<a href="/source/public/ExtensionPercentUsageStatsByFiscalYear" class="highlight3" ng-class="{ active: (query == 'ExtensionPercentUsageStatsByFiscalYear') }">
					Extension Percent Usage Stats By Fiscal Year
				</a>
			</li>
			<li>
				<a href="/source/public/ExtensionPercentUsageStatsByDomain" class="highlight3" ng-class="{ active: (query == 'ExtensionPercentUsageStatsByDomain') }">
					Extension Percent Usage Stats By Domain
				</a>
			</li>
			<li>
				<a href="/source/public/ConceptValuesByQuarter" class="highlight3" ng-class="{ active: (query == 'ConceptValuesByQuarter') }">
					Concept Values by Quarter
				</a>
			</li>
			<li>
				<a href="/source/public/FactualConcepts" class="highlight3" ng-class="{ active: (query == 'FactualConcepts') }">
					Concepts of a Filing
				</a>
			</li>
			<li>
				<a href="/source/public/FactForConcept" class="highlight3" ng-class="{ active: (query == 'FactForConcept') }">
					Concept Value in a Filing
				</a>
			</li>
		</ul>
		<div class="row" style="border-bottom: 1px solid gainsboro"></div>
		<h4>Caching Data</h4>
		<ul class="row menu">
			<li>
				<a href="/source/private/UpdateExtensionStatsCache" class="highlight3" ng-class="{ active: (query == 'UpdateExtensionStatsCache') }">
					Create Cache
				</a>
			</li>
		</ul>

		<div class="row" style="border-bottom: 1px solid gainsboro"></div>
		<h4>Lists</h4>
		<ul class="row menu">
			<li>
				<a href="/source/public/EntityNameTickerCIKTuples" class="highlight3" ng-class="{ active: (query == 'EntityNameTickerCIKTuples') }">
					Entities (with CIK and Tickers)
				</a>
			</li>
			<li>
				<a href="/source/public/FilerSectorList" class="highlight3" ng-class="{ active: (query == 'FilerSectorList') }">
					Filer Sectors
				</a>
			</li>
			<li>
				<a href="/source/public/GeneratorList" class="highlight3" ng-class="{ active: (query == 'GeneratorList') }">
					Generators
				</a>
			</li>
			<li>
				<a href="/source/public/EntityTypeList" class="highlight3" ng-class="{ active: (query == 'EntityTypeList') }">
					Entity Types
				</a>
			</li>
			<li>
				<a href="/source/public/StockIndexList" class="highlight3" ng-class="{ active: (query == 'StockIndexList') }">
					Stock Indexes
				</a>
			</li>
		</ul>

		<div class="row" style="border-bottom: 1px solid gainsboro"></div>
		<h4>Concept Maps</h4>
		<ul class="row menu">
			<li>
				<a href="/source/public/ConceptMaps" class="highlight3" ng-class="{ active: (query == 'ConceptMaps') }">
					Concept Maps List
				</a>
			</li>
			<li>
				<a href="/source/public/ConceptMapKeys" class="highlight3" ng-class="{ active: (query == 'ConceptMapKeys') }">
					Concept Map Keys
				</a>
			</li>
		</ul>
	</div>
	<div class="col-right col-md-9 col-sm-8 col-xs-12">
		<div ng-hide="query">
			We are sharing!
			<h2>Here is how we did it!</h2>
			<br><br>
			Just click on the query name to see its contents.
			<br><br>
			<br><br>
			<small>All queries are provided under Apache 2.0 license.<br>
			Feel free to use them for personal or commercial use.</small>
		</div>
		<div ng-show="query">
			<h3>{{query}}</h3>
			<hr>
			<div ng-hide="content" class="text-center">
				<i class="fa fa-spinner fa-spin fa-5x"></i>
			</div>
			<div ng-show="content">
				<pre ng-bind-html="content"></pre>
			</div>
		</div>			
	</div>
</div>