<div class="component">
<ul class="breadcrumb">
    <li class="dropdown">
        <a class="dropdown-toggle">{{archive.EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/entity/{{cik}}" translate>Entity Information</a></li>
            <li><a href="/filings/{{cik}}" translate>Filings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{archive.FiscalPeriod}} / {{archive.FiscalYear}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/filing/{{aid}}" translate>Filing Details</a></li>
            <li><a href="/components/{{aid}}" translate>Components</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{NetworkLabel}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
          <li><a href="/facttable/{{aid}}/{{networkIdentifier}}" translate>Fact Table</a></li>
          <li><a href="/modelstructure/{{aid}}/{{networkIdentifier}}" translate>Model Structure</a></li>
        </ul>
    </li>
    <li></li>
</ul>
    <div class="container">
        <div class="row export">
            <div class="col-lg-3">
                <span class="tag tag-primary">1 <span translate>Hit</span></span>
                <span class="tag"><span ng-bind="Statistics.TotalNumComponents | number"></span> <span translate>Archives</span></span>
            </div>
            <div class="col-lg-6">
                <h2 class="text-center">{{archive.EntityRegistrantName}} ({{archive.FiscalPeriod}} / {{archive.FiscalYear}})</h2>
            </div>
            <div class="col-lg-3">
                <span class="dropdown pull-right">
                    <a class="dropdown-toggle btn btn-primary"><i class="fa fa-cloud-download"></i> <span translate>Export</span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="{{API_URL}}/_queries/public/api/components.jq?format=json&_method=POST&aid={{aid}}&networkIdentifier={{networkIdentifier}}" target="_blank" download="{{aid.json}}" translate>JSON</a></li>
                        <li><a ng-href="{{API_URL}}/_queries/public/api/components.jq?format=xml&_method=POST&aid={{aid}}&networkIdentifier={{networkIdentifier}}" target="_blank" download="{{aid.xml}}" translate>XML</a></li>
                        <li><a ng-href="{{API_URL}}/_queries/public/api/components.jq?format=csv&_method=POST&aid={{aid}}&networkIdentifier={{networkIdentifier}}" target="_blank" download="{{aid.csv}}" translate>CSV</a></li>
                        <li><a ng-href="{{API_URL}}/_queries/public/api/components.jq?format=excel&_method=POST&aid={{aid}}&networkIdentifier={{networkIdentifier}}" target="_blank" download="{{aid.csv}}" translate>Excel</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
<div class="container">
	<div class="col-md-12 spaced">
        <div class="white-box">
        <div class="scrolling">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 40%" translate>Component ID</td><td>{{component.ComponentId}}</td>
              </tr>
              <tr>
                <td>CIK</td><td>{{cik}}</td>
              </tr>
              <tr>
                <td translate>Accession Number</td><td>{{aid}}</td>
              </tr>
              <tr>
                <td translate>Network Identifier</td><td>{{networkIdentifier}}</td>
              </tr>
              <tr>
                <td translate>Network Description</td><td>{{NetworkLabel}}</td>
              </tr>
              <tr>
                <td translate>Table Name</td><td>{{component.Table}}</td>
              </tr>
              <tr>
                <td translate>Disclosure Name</td><td>{{component.Disclosure}}</td>
              </tr>
              <tr>
                <td translate>Category</td><td>{{component.Category}}</td>
              </tr>
              <tr>
                <td translate>Sub Category</td><td>{{component.SubCategory}}</td>
              </tr>
              <tr>
                <td translate>Report Elements</td><td>{{component.ReportElements}}</td>
              </tr>
              <tr>
                <td translate>Tables</td><td>{{component.Tables}}</td>
              </tr>
              <tr>
                <td translate>Axis</td><td>{{component.Axis}}</td>
              </tr>
              <tr>
                <td translate>Members</td><td>{{component.Members}}</td>
              </tr>
              <tr>
                <td translate>Line Items</td><td>{{component.LineItems}}</td>
              </tr>
              <tr>
                <td translate>Concepts</td><td>{{component.Concepts}}</td>
              </tr>
              <tr>
                <td translate>Abstracts</td><td>{{component.Abstracts}}</td>
              </tr>
            </tbody>
          </table>
		  </div>
          <div class="white-box-footer" style="padding: 15px;">
            <a href="/facttable/{{aid}}/{{networkIdentifier}}" translate>Fact Table</a> |
            <a href="/modelstructure/{{aid}}/{{networkIdentifier}}" translate>Model Structure</a>
          </div>
        </div>
	</div>
</div>
</div>