<div id="filings">
    <ul class="breadcrumb">
        <li class="dropdown">
            <a class="dropdown-toggle">{{filings[0].EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
            <ul class='dropdown-menu text-left'>
                <li><a ui-sref="root.entity.summary({ cik: cik })">Summary</a></li>
                <li><a ui-sref="root.entity.filings({ cik: cik })">Filings</a></li>
            </ul>
        </li>
        <li></li>
    </ul>
    <div class="std-container">
        <div class="row export">
            <div class="col-lg-3">
                <span class="tag tag-primary"><span ng-bind="Statistics.NumArchives | number"></span> Hits</span>
                <span class="tag"><span ng-bind="Statistics.TotalNumArchives | number"></span> Archives</span>
                <!--span class="tag"><span ng-bind="Statistics.TotalNumEntities | number"></span> Entities</span-->
            </div>
            <div class="col-lg-6">
                <h2 class="text-center">Filings for {{filings[0].EntityRegistrantName}} ({{filings[0].CIK.substr(23)}})</h2>
            </div>
            <div class="col-lg-3">
                <span class="dropdown pull-right">
                    <a class="dropdown-toggle btn btn-primary"><i class="fa fa-cloud-download"></i> Export</a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="{{getExportURL('json')}}" target="_blank" download="{{cik}}_filings.json">JSON</a></li>
                        <li><a ng-href="{{getExportURL('xml')}}" target="_blank" download="{{cik}}_filings.xml">XML</a></li>
                        <li><a ng-href="{{getExportURL('csv')}}" target="_blank" download="{{cik}}_filings.csv">CSV</a></li>
                        <li><a ng-href="{{getExportURL('excel')}}" target="_blank" download="{{cik}}_filings.csv">Excel</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="std-container">
	<div>
        <div>
            <p>
                <input type="text" class="form-control" ng-model="search" placeholder="Type here to search for filings">
            </p>
		  <div class="scrolling">
           <table class="table table-striped table-condensed table-bordered">
             <thead>
             <th>#</th>
             <th>Entity Registrant Name</th>
             <th>Form</th>
             <th>Fiscal Year</th>
             <th>Fiscal Period</th>
             <th>Accepted by SEC</th>
             <th>Generator</th>
             <th>Accession Number</th>
             <th>Go to</th>
             </thead>
             <tbody>
               <tr ng-repeat="item in filings | filter : search">
                 <td>{{$index + 1}}</td>
                 <td>{{item.EntityRegistrantName}}</td>
                 <td>{{item.FormType}}</td>
                 <td>{{item.FiscalYear}}</td>
                 <td>{{item.FiscalPeriod}}</td>
                 <td>{{item.Accepted}}</td>
                 <td>{{item.Generator}}</td>
                 <td><a href="/filing/{{item.AccessionNumber}}">{{item.AccessionNumber}}</a></td>
                 <td class="text-center">
                   <span class="dropdown">
                     <a class="dropdown-toggle"><i class="fa fa-external-link fa-2x"></i></a>
                     <ul class="dropdown-menu text-left pull-right">
                       <li><a href="/filing/{{item.AccessionNumber}}">Filing Details</a></li>
                       <li><a href="{{item.SECFilingPage}}">SEC Filing Page</a></li>
                       <li><a href="{{item.XBRLInstanceURL}}">XBRL Instance</a></li>
                       <li><a href="/components/{{item.AccessionNumber}}">Filing Components</a></li>
                     </ul>
                   </span>
                 </td>
               </tr>
             </tbody>
          </table>
		  </div>
        </div>
	</div>
</div>
</div>
