<div id="modelstructure">
<ul class="breadcrumb">
    <li class="dropdown">
        <a class="dropdown-toggle">{{EntityRegistrantName}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/entity/{{cik}}">Entity Information</a></li>
            <li><a href="/filings/{{cik}}">Filings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{FiscalPeriod}} / {{FiscalYear}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
            <li><a href="/filing/{{AccessionNumber}}">Filing Details</a></li>
            <li><a href="/components/{{AccessionNumber}}">Components</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">{{component}} <span class="fa fa-caret-down"></span></a>
        <ul class='dropdown-menu text-left'>
          <li><a href="/component/{{AccessionNumber}}/{{NetworkIdentifier}}">Component Details</a></li>
          <li><a href="/facttable/{{AccessionNumber}}/{{NetworkIdentifier}}">Fact Table</a></li>
        </ul>
    </li>
    <li></li>
</ul>

    <div class="container">
        <div class="row export">
            <div class="col-lg-3">
                <span class="tag tag-primary">1 Hit</span>
                <span class="tag"><span ng-bind="Statistics.TotalNumArchives | number"></span> Archives</span>
            </div>
            <div class="col-lg-6">
                <h2 class="text-center">Model Structure for {{EntityRegistrantName}}<br>({{FiscalPeriod}} / {{FiscalYear}})</h2>
            </div>
            <div class="col-lg-3">
                <span class="dropdown pull-right">
                    <a class="dropdown-toggle btn btn-primary"><i class="fa fa-cloud-download"></i> Export</a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="{{getExportURL('json')}}" target="_blank" download="{{AccessionNumber}}_modelstructure.json">JSON</a></li>
                        <li><a ng-href="{{getExportURL('xml')}}" target="_blank" download="{{AccessionNumber}}_modelstructure.xml">XML</a></li>
                        <li><a ng-href="{{getExportURL('csv')}}" target="_blank" download="{{AccessionNumber}}_modelstructure.csv">CSV</a></li>
                        <li><a ng-href="{{getExportURL('excel')}}" target="_blank" download="{{AccessionNumber}}_modelstructure.csv">Excel</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
<div class="std-container">
	<div>
        <div ng-show="data.length">
          <div class="container">
            <table class="table table-condensed small">
              <thead><th colspan="2">Filing</th></thead>
              <tbody>
                  <tr><td width="30%">Accession Number</td><td><a href="/filing/{{AccessionNumber}}">{{AccessionNumber}}</a></td></tr>
                  <tr><td>Form Type</td><td>{{FormType}}</td></tr>
                  <tr><td>Accepted</td><td>{{AcceptanceDatetime | date: 'medium'}}</td></tr>
              </tbody>
            </table>
            <table class="table table-condensed small">
              <thead><th colspan="2">Component</th></thead>
              <tbody>
                <tr><td width="30%">Network</td><td>{{Label}}<br/>({{NetworkIdentifier}})</td></tr>
                <tr><td>Table</td><td>{{Table}}</td></tr>
                <tr><td>Disclosure</td><td>{{Disclosure}}</td></tr>
              </tbody>
            </table>
          </div>
          <p>
            <input type="text" class="form-control" ng-model="search" placeholder="Type here to search..."/>
          </p>
          <div class="scrolling">
              <div class="divtable small" id="table-model-structure">
                {{rowReset()}}
                <div class="line head"><span>#</span><span>Label</span><span>Object Class</span><span>Data Type</span><span>Period</span><span>Balance</span><span>Report Element</span></div>
                <script type="text/ng-template" id="item_line.html">{{rowIncrement()}}
                  <div class="line" ng-class="{ even: (row % 2 == 0) }"><span>{{row}}</span><span class="{{ item.Kind }}" ng-style="{ 'padding-left': getIndent(item.Level) + 'px'}">{{item.Label}}</span><span>{{item.Kind}}</span><span>{{getDataType(item.DataType)}}</span><span>{{getPeriodType(item.PeriodType)}}</span><span>{{item.Balance}}</span><span><a popover="{{item.Name}}" popover-placement="left" popover-trigger="focus">{{substring(item.Name, 35)}}</a></span></div>
                  <div ng-repeat="item in item.Children | filter:search" ng-include="'item_line.html'"></div>
                </script>
                <div ng-repeat="item in data | filter:search" ng-include="'item_line.html'"></div>
              </div>
           </div>
          </div>
          <br>
       </div>
    </div>
</div>